<%- include('../common/header.html'); %>
<link href="../gm-css/index.css" rel="stylesheet">
<link href="../gm-css/charge.css" rel="stylesheet">
<body>
   <!-- 导航 -->
    <%- include('../common/nav-white.html'); %>
    <!--  ChargeBanner -->
    <section id="ChargeBanner" class="container">
      <div class="banner-text">我们不比价格 我们只比服务</div>
      <div><button class="btn btn-primary banner-btn">免费试用</button></div>
    </section>
    <!-- End  ChargeBanner -->


    
    <!--  ChargeList -->
    <section id="ChargeList" class="container">
      <div class="row">
        <div class="col-md-3 col-lg-3 ">
          <div class="charge-list-item charge-list-item-1">
            <div class='item-header'>配送标准版</div>
            <div class='item-intro'>
              <p>适合五人以下运营团队<br>初步尝试知识付费或线上教学</p>
            </div>
            <div class='item-price'>
              <div class="item-price-part ">
                <div >使用费用</div>
                <div ><span>￥</span><span>77800</span><span></span></div>
              </div>
              <div class="item-price-part"></div>
              <div class="item-price-part">
                <div >服务费用</div>
                <div ><span>￥</span><span>9800</span><span>/年</span></div>
              </div>
            </div>
            <div class='item-button'><button type="submit" class="btn btn-primary">立即购买</button></div>
          </div>
        </div>

        <div class="col-md-3 col-lg-3 ">
          <div class="charge-list-item charge-list-item-2">
            <div class='item-header'>配送标准版</div>
            <div class='item-intro'>
              <p>适合五人以下运营团队<br>初步尝试知识付费或线上教学</p>
            </div>
            <div class='item-price'>
              <div class="item-price-part">
                <div >使用费用</div>
                <div ><span>￥</span><span>77800</span><span></span></div>
              </div>
              <div class="item-price-part"></div>
              <div class="item-price-part">
                <div >服务费用</div>
                <div ><span>￥</span><span>9800</span><span>/年</span></div>
              </div>
            </div>
            <div class='item-button'><button type="submit" class="btn btn-primary">立即购买</button></div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 ">
          <div class="charge-list-item charge-list-item-3">
            <div class='item-header'>配送标准版</div>
            <div class='item-intro'>
              <p>适合五人以下运营团队<br>初步尝试知识付费或线上教学</p>
            </div>
            <div class='item-price'>
              <div class="item-price-part">
                <div >使用费用</div>
                <div ><span>￥</span><span>77800</span><span></span></div>
              </div>
              <div class="item-price-part"></div>
              <div class="item-price-part">
                <div >服务费用</div>
                <div ><span>￥</span><span>9800</span><span>/年</span></div>
              </div>
            </div>
            <div class='item-button'><button type="submit" class="btn btn-primary">立即购买</button></div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 ">
          <div class="charge-list-item charge-list-item-4">
            <div class='item-header'>配送标准版</div>
            <div class='item-intro'>
              <p>适合五人以下运营团队<br>初步尝试知识付费或线上教学</p>
            </div>
            <div class='item-price'>
              <div class="item-price-part">
                <div >使用费用</div>
                <div ><span>￥</span><span>1277800</span><span></span></div>
              </div>
              <div class="item-price-part">&nbsp;</div>
              <div class="item-price-part">
                <div >服务费用</div>
                <div ><span>￥</span><span>9800</span><span>/年</span></div>
              </div>
            </div>
            <div class='item-button'><button type="submit" class="btn btn-primary">立即购买</button></div>
          </div>
        </div>
      </div>
    </section>   
    <!--  End ChargeList -->   



    <section  class="container charge-module-title charge-module-title-h" >
      <h1>增值应用模块</h1>
    </section>


    <!-- IncrApplication -->
    <section id="IncrApplication" class="container">
      <section  class="container charge-module-title charge-module-title-p">
        <p>利用现代物流，大数据、云计算等创新技术，生鲜线下销售与线上零售将深度结合，形成一体化经营。</p>
      </section>
      <div class="row" style="margin-top: 70px;">
        <div class="col-sm-12 col-md-4 col-lg-4 outer-box-row-1">
            <div class="outer-box">
                <h2>小程序包</h2>
                <div class='inner-box'>
                    <ul> 
                      <li>
                        <span><img src="../gm-images/charge/商城小程序@2x.png" alt=""></span>
                        <span>商城小程序</span>
                      </li>
                      <li>
                        <span><img src="../gm-images/charge/组 2@2x(1).png" alt=""></span>
                        <span>采购小程序</span>
                      </li>
                      <li>
                        <span><img src="../gm-images/charge/组 2@2x(2).png" alt=""></span>
                        <span>观麦云管家</span>
                      </li>
                      <li>
                        <span><img src="../gm-images/charge/组 2@2x(3).png" alt=""></span>
                        <span>观麦云客CRM</span>
                      </li>
                    </ul>
                    <div class="price-detail-item"> 打包价 <font class="price-number">15000</font>¥   服务费 <font class="price-number">2250</font>¥/年</div>
                </div>  
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4  outer-box-row-2">
            <div class="outer-box">
                <h2>团餐模块</h2>
                <div class='inner-box'>
                    <ul>
                      <li>
                        <span><img src="../gm-images/charge/组 2@2x(4).png" alt=""></span>
                        <span>菜谱下单</span>
                      </li>
                      <li>
                        <span><img src="../gm-images/charge/组 2@2x(5).png" alt=""></span>
                        <span>营养分析</span>
                      </li>
                      <li>
                        <span><img src="../gm-images/charge/组 2@2x(6).png" alt=""></span>
                        <span>智能排单</span>
                      </li>
                      <li>
                        <span><img src="../gm-images/charge/组 2@2x(7).png" alt=""></span>
                        <span>智能财务</span>
                      </li>
                      <li>
                        <span><img src="../gm-images/charge/组 2@2x(8).png" alt=""></span>
                        <span>菜品BOM</span>
                      </li>
                    </ul>
                    <div class="price-detail-item">打包价<font class="price-number">20000</font>¥  服务费 <font class="price-number">3000</font>¥/年</div>
                </div>  
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4  outer-box-row-3">
            <div class="outer-box">
                <h2>溯源模块</h2>
                <div class='inner-box'>
                    <img src="../gm-images/charge/组 2@2x(9).png" class="pricing-img" alt="">
                    <!-- <div class="pricing-txt"> 打包价 20000¥   服务费 3000¥/年</div> -->
                    <div class="price-detail-item paddingMargin-none">打包价<font class="price-number">20000</font>¥  服务费 <font class="price-number">3000</font>¥/年</div>
              
                </div>  
            </div>
            <div class="outer-box">
                <h2>供应商待分拣</h2>
                <div class='inner-box'>
                    <img src="../gm-images/charge/组 2@2x(10).png" class="pricing-img" alt="">
                    <!-- <div class="pricing-txt"> 打包价 0.00¥   服务费 2000¥/年</div> -->
                    <div class="price-detail-item paddingMargin-none">打包价<font class="price-number">0.00</font>¥  服务费 <font class="price-number">2000</font>¥/年</div>
              
                </div>  
            </div>
            <div class="outer-box">
                <h2>PDA预分拣</h2>
                <div class='inner-box'>
                  <img src="../gm-images/charge/组 2@2x(11).png" class="pricing-img" alt="">
                    <!-- <div class="pricing-txt"> 打包价 0.00¥   服务费 3000¥/年</div> -->
                    <div class="price-detail-item paddingMargin-none">打包价<font class="price-number">0.00</font>¥  服务费 <font class="price-number">3000</font>¥/年</div>
              
                </div>  
            </div>
        </div>
      </div>
    </section>
    <!-- End IncrApplication -->


    <section  class="container charge-module-title charge-module-title-h" >
      <h1>详细功能介绍</h1>
    </section>


    <!-- IncrApplication -->
    <section id="IncrApplication" class="container">
      <section  class="container charge-module-title charge-module-title-p">
        <p>利用现代物流，大数据、云计算等创新技术，生鲜线下销售与线上零售将深度结合，形成一体化经营。</p>
      </section>

      

      <div class="detail-row" style="margin-top: 70px;">


        <% for (i=0;i<30;i++) { %>
        <div class="detail-price-box">
            <div class="d-header-tags">
              <div class="tags-btn big big-blue-tags">微信商城</div>
              <div class="tags-btn small small-gray-tags">配送版</div>
              <div class="tags-btn small small-green-tags">央厨版</div>
            </div>
            <div class="d-desc-box">
商城自定义装修、每日特价、限购、优惠券、云商品库商品分类展示、语音搜索、常用收藏、再来一单购物车、个人中心、账户充值、订单查看货到付款、微信支付、余额支付区分用户展示、多时段运营、母子账号管理、权限管理</div>
        </div>
        <% } %>

      </div>

    </section>
    <div class="bt-warp">
      <div class="container">
        <div class="gm4-screen">
          <div class="gm4-left">
            <div class="gms4-item">
              <div class="gms4-num">20000 元</div>
              <div class="gms4-desc">每个分仓</div>
            </div>
            <div class="gms4-item">
              <div class="gms4-num">3000 元</div>
              <div class="gms4-desc">年服务费</div>
            </div>
    

          </div>
          <div class="gm4-right">
            <h1 style="font-size: 50px; font-weight: 300;">观麦线下多站点联动</h1>
            <a class="btn btn-default btn-blue btn-big" href="#" role="button">免费试用</a>
            <div class="gm4-tags">多仓管理 / 分公司管理 / 阿米巴模式推荐 / 下属单位权限管理</div>
          </div>
        </div>
      </div>
    </div>


<%- include('../common/footer.html'); %>