<%- include('../common/header.html'); %>
<link href="../gm-css/index.css" rel="stylesheet" />
<link href="../gm-css/charge.css" rel="stylesheet" />
<body>
  <!-- 导航 -->
  <%- include('../common/nav-white.html'); %>
  <!--  ChargeBanner -->
  <section id="ChargeBanner" class="container">
    <div class="banner-text">我们不比价格 我们只比服务</div>
    <div><button class="btn btn-primary banner-btn">免费试用</button></div>
  </section>
  <!-- End  ChargeBanner -->

  <!--  ChargeList -->
  <section id="ChargeList" class="container">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <div class="charge-list-item charge-list-item-1">
          <div class="item-header">配送标准版</div>
          <div class="item-intro">
            <p>适合五人以下运营团队<br />初步尝试知识付费或线上教学</p>
          </div>
          <div class="item-price">
            <div class="item-price-part">
              <div>使用费用</div>
              <div><span>￥</span><span>77800</span><span></span></div>
            </div>
            <div class="item-price-part"></div>
            <div class="item-price-part">
              <div>服务费用</div>
              <div><span>￥</span><span>9800</span><span>/年</span></div>
            </div>
          </div>
          <div class="item-button">
            <button type="submit" class="btn btn-primary">立即购买</button>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3">
        <div class="charge-list-item charge-list-item-2">
          <div class="item-header">配送标准版</div>
          <div class="item-intro">
            <p>适合五人以下运营团队<br />初步尝试知识付费或线上教学</p>
          </div>
          <div class="item-price">
            <div class="item-price-part">
              <div>使用费用</div>
              <div><span>￥</span><span>77800</span><span></span></div>
            </div>
            <div class="item-price-part"></div>
            <div class="item-price-part">
              <div>服务费用</div>
              <div><span>￥</span><span>9800</span><span>/年</span></div>
            </div>
          </div>
          <div class="item-button">
            <button type="submit" class="btn btn-primary">立即购买</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="charge-list-item charge-list-item-3">
          <div class="item-header">配送标准版</div>
          <div class="item-intro">
            <p>适合五人以下运营团队<br />初步尝试知识付费或线上教学</p>
          </div>
          <div class="item-price">
            <div class="item-price-part">
              <div>使用费用</div>
              <div><span>￥</span><span>77800</span><span></span></div>
            </div>
            <div class="item-price-part"></div>
            <div class="item-price-part">
              <div>服务费用</div>
              <div><span>￥</span><span>9800</span><span>/年</span></div>
            </div>
          </div>
          <div class="item-button">
            <button type="submit" class="btn btn-primary">立即购买</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="charge-list-item charge-list-item-4">
          <div class="item-header">配送标准版</div>
          <div class="item-intro">
            <p>适合五人以下运营团队<br />初步尝试知识付费或线上教学</p>
          </div>
          <div class="item-price">
            <div class="item-price-part">
              <div>使用费用</div>
              <div><span>￥</span><span>1277800</span><span></span></div>
            </div>
            <div class="item-price-part">&nbsp;</div>
            <div class="item-price-part">
              <div>服务费用</div>
              <div><span>￥</span><span>9800</span><span>/年</span></div>
            </div>
          </div>
          <div class="item-button">
            <button type="submit" class="btn btn-primary">立即购买</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  End ChargeList -->

  <section class="container charge-module-title charge-module-title-h">
    <h1>增值应用模块</h1>
  </section>

  <!-- IncrApplication -->
  <section id="IncrApplication" class="container">
    <section class="container charge-module-title charge-module-title-p">
      <p>
        利用现代物流，大数据、云计算等创新技术，生鲜线下销售与线上零售将深度结合，形成一体化经营。
      </p>
    </section>
    <div class="row" style="margin-top: 70px">
      <div class="col-sm-12 col-md-4 col-lg-4 outer-box-row-1">
        <div class="outer-box">
          <h2>小程序包</h2>
          <div class="inner-box">
            <ul>
              <li>
                <span
                  ><img src="../gm-images/charge/商城小程序@2x.png" alt=""
                /></span>
                <span>商城小程序</span>
              </li>
              <li>
                <span
                  ><img src="../gm-images/charge/组 2@2x(1).png" alt=""
                /></span>
                <span>采购小程序</span>
              </li>
              <li>
                <span
                  ><img src="../gm-images/charge/组 2@2x(2).png" alt=""
                /></span>
                <span>观麦云管家</span>
              </li>
              <li>
                <span
                  ><img src="../gm-images/charge/组 2@2x(3).png" alt=""
                /></span>
                <span>观麦云客CRM</span>
              </li>
            </ul>
            <div class="price-detail-item">
              打包价 <font class="price-number">15000</font>¥ 服务费
              <font class="price-number">2250</font>¥/年
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 outer-box-row-2">
        <div class="outer-box">
          <h2>团餐模块</h2>
          <div class="inner-box">
            <ul>
              <li>
                <span
                  ><img src="../gm-images/charge/组 2@2x(4).png" alt=""
                /></span>
                <span>菜谱下单</span>
              </li>
              <li>
                <span
                  ><img src="../gm-images/charge/组 2@2x(5).png" alt=""
                /></span>
                <span>营养分析</span>
              </li>
              <li>
                <span
                  ><img src="../gm-images/charge/组 2@2x(6).png" alt=""
                /></span>
                <span>智能排单</span>
              </li>
              <li>
                <span
                  ><img src="../gm-images/charge/组 2@2x(7).png" alt=""
                /></span>
                <span>智能财务</span>
              </li>
              <li>
                <span
                  ><img src="../gm-images/charge/组 2@2x(8).png" alt=""
                /></span>
                <span>菜品BOM</span>
              </li>
            </ul>
            <div class="price-detail-item">
              打包价<font class="price-number">20000</font>¥ 服务费
              <font class="price-number">3000</font>¥/年
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 outer-box-row-3">
        <div class="outer-box">
          <h2>溯源模块</h2>
          <div class="inner-box">
            <img
              src="../gm-images/charge/组 2@2x(9).png"
              class="pricing-img"
              alt=""
            />
            <!-- <div class="pricing-txt"> 打包价 20000¥   服务费 3000¥/年</div> -->
            <div class="price-detail-item paddingMargin-none">
              打包价<font class="price-number">20000</font>¥ 服务费
              <font class="price-number">3000</font>¥/年
            </div>
          </div>
        </div>
        <div class="outer-box">
          <h2>供应商待分拣</h2>
          <div class="inner-box">
            <img
              src="../gm-images/charge/组 2@2x(10).png"
              class="pricing-img"
              alt=""
            />
            <!-- <div class="pricing-txt"> 打包价 0.00¥   服务费 2000¥/年</div> -->
            <div class="price-detail-item paddingMargin-none">
              打包价<font class="price-number">0.00</font>¥ 服务费
              <font class="price-number">2000</font>¥/年
            </div>
          </div>
        </div>
        <div class="outer-box">
          <h2>PDA预分拣</h2>
          <div class="inner-box">
            <img
              src="../gm-images/charge/组 2@2x(11).png"
              class="pricing-img"
              alt=""
            />
            <!-- <div class="pricing-txt"> 打包价 0.00¥   服务费 3000¥/年</div> -->
            <div class="price-detail-item paddingMargin-none">
              打包价<font class="price-number">0.00</font>¥ 服务费
              <font class="price-number">3000</font>¥/年
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End IncrApplication -->

  <section class="container charge-module-title charge-module-title-h">
    <h1>详细功能介绍</h1>
  </section>

  <!-- IncrApplication -->
  <section id="IncrApplication" class="container">
    <section class="container charge-module-title charge-module-title-p">
      <p>
        利用现代物流，大数据、云计算等创新技术，生鲜线下销售与线上零售将深度结合，形成一体化经营。
      </p>
    </section>

    <div class="detail-row" style="margin-top: 70px">
      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags">微信商城</div>
          <div class="tags-btn small small-gray-tags">配送版</div>
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          商城自定义装修、每日特价、限购、优惠券、云商品库<br />
          商品分类展示、语音搜索、常用收藏、再来一单<br />购物车、个人中心、账户充值、订单查看<br />货到付款、微信支付、余额支付<br />区分用户展示、多时段运营、母子账号管理、权限管理
        </div>
      </div>

      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags">商品库管理</div>
          <div class="tags-btn small small-gray-tags">配送版</div>
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          自主分类管理、商品别名、自定义编码<br />
          多规格销售、多供应商绑定、多图展示、商品描述<br />
          导入、导出、批量修改<br />
          分客户展示商品
        </div>
      </div>

      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags">商品定价</div>
          <div class="tags-btn small small-gray-tags">配送版</div>
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          区分客户定价、锁定时间段定价、先出售后定价、<br />
          根据成本价智能定价<br />
          按公式计算售价、批量修改单价<br />
          运费设定、截单时间设定
        </div>
      </div>

      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags bgc-green">组合商品管理</div>
          <!-- <div class="tags-btn small small-gray-tags">配送版</div> -->
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          支持组合类商品的设置，如盒饭、便当、套餐等<br />
          可灵活设置配比信息<br />
          支持多元物料<br />
          支持记录销售商品的所需耗材、毛料、净料、配料等<br />
          支持多层级加工组合
        </div>
      </div>

      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags bgc-green">商品库管理</div>
          <!-- <div class="tags-btn small small-gray-tags">配送版</div> -->
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          自定义加工工艺并能根据加工区灵活要求设置工艺<br />
          特性信息<br />
          为加工指导提供基础信息<br />
          支持不同销售商品绑定不同工艺信息并能指定工艺顺序<br />
          指定工艺规格
        </div>
      </div>
      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags">订单管理</div>
          <div class="tags-btn small small-gray-tags">配送版</div>
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          后台录单、批量导入、订单增删查改、预售工具<br />
          批量修改商品价格、常用商品、商品顺序修改<br />
          订单状态查看修改、订单审核、过往订单补录<br />
          复制订单、智能文字识别、订单语音提醒
        </div>
      </div>
      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags bgc-green">生产计划管理</div>
          <!-- <div class="tags-btn small small-gray-tags">配送版</div> -->
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          基于用户订单、生成生产计划视图、一键下发生产计划<br />
          发布预生产计划<br />
          提前进行任务管理<br />
          多级任务批量下达并指导加工作业
        </div>
      </div>
      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags bgc-green">生产指导</div>
          <!-- <div class="tags-btn small small-gray-tags">配送版</div> -->
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          一键打印加工指导单，复杂工艺一目了然<br />
          一键打印生产物料单，解决领料难题<br />
          套餐商品原料自动反算，计算源头物料需求<br />
          获取所需物料配比，快速指导商品加工流程
        </div>
      </div>
      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags bgc-green">领料与投料管理</div>
          <!-- <div class="tags-btn small small-gray-tags">配送版</div> -->
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          一键生成领料任务<br />
          支持原料投放与任务分配给指定员工<br />
          记录原料发放记录，严控商品库存<br />
          多余物料退还，避免商品损耗
        </div>
      </div>
      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags">采购管理</div>
          <div class="tags-btn small small-gray-tags">配送版</div>
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          采购任务汇总、分类、导出<br />
          按价格分配采购任务、供应商、备注<br />
          供应商管理、供应商自主接单、看分拣任务、供应商结算<br />
          自动计算损耗、设置供应上限、快速切换供应商
        </div>
      </div>
      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags">分拣管理</div>
          <div class="tags-btn small small-gray-tags">配送版</div>
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          支持按商品、按订单分拣、按线路分拣<br />
          分拣工任务分配、绩效考核、分拣进度可视化看板<br />
          自动生成标签、分类管理<br />
          自动同步称重斤两、全流程电子化
        </div>
      </div>
      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags">配送管理</div>
          <div class="tags-btn small small-gray-tags">配送版</div>
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          司机信息管理、可视化调度<br />
          司机调度、智能路线规划、司机线路打印<br />
          司机实时路线查询 、司机代收货款管理<br />
          送货单批量打印、送货单自定义<br />
          自动同步称重斤两、全流程电子化
        </div>
      </div>
      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags">售后处理</div>
          <div class="tags-btn small small-gray-tags">配送版</div>
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          客户异常登记、异常金额记录<br />
          划分责任部门、发起工单、部门协作<br />
          异常报表分析、部门权责分明<br />
          智能化的多维度服务分析
        </div>
      </div>
      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags">进销存管理</div>
          <div class="tags-btn small small-gray-tags">配送版</div>
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          采购预入库、仓管确认入库<br />
          商品自动出库、库存批量盘点、报损报溢、退货<br />
          供应商票据查询、审核<br />
          进销存数据分析、财务格式导出、周转物管理
        </div>
      </div>
      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags bgc-green">多库存管理</div>
          <!-- <div class="tags-btn small small-gray-tags">配送版</div> -->
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          原料、半成品、成品的出/入库管理<br />
          库存管理，记录供应商来货原始库存<br />
          成品库存管理，自动换算入库成品单价<br />
          多库存管理信息，库存一目了然
        </div>
      </div>
      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags">财务管理</div>
          <div class="tags-btn small small-gray-tags">配送版</div>
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          客户账单查询、结算状态更新<br />
          设置账期、分时段查看应收账<br />
          供应商付款审批、付款凭证记录<br />
          供应商采购汇总报表，精准核算采购成本
        </div>
      </div>
      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags">企业管理</div>
          <div class="tags-btn small small-gray-tags">配送版</div>
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          管理账户权限划分、客户资料<br />
          针对销售业绩管理，合理安排绩效考核<br />
          掌握终端客户，准确定位企业决策<br />
          多维度分析数据，时刻管理业务进程
        </div>
      </div>
      <div class="detail-price-box">
        <div class="d-header-tags">
          <div class="tags-btn big big-blue-tags">数据分析</div>
          <div class="tags-btn small small-gray-tags">配送版</div>
          <div class="tags-btn small small-green-tags">央厨版</div>
        </div>
        <div class="d-desc-box">
          折线图、柱状图直观数据<br />
          日常营运报表、营收查询<br />
          客户维度、销售维度、商品维度、售后维度统一管理<br />
          数据导入导出、自定义报表
        </div>
      </div>
    </div>
  </section>
  <div class="bt-warp">
    <div class="container">
      <div class="gm4-screen">
        <div class="gm4-left">
          <div class="gms4-item">
            <div class="gms4-num">20000 元</div>
            <div class="gms4-desc">每个分仓</div>
          </div>
          <div class="gms4-item">
            <div class="gms4-num">3000 元</div>
            <div class="gms4-desc">年服务费</div>
          </div>
        </div>
        <div class="gm4-right">
          <h1 style="font-size: 50px; font-weight: 300">观麦线下多站点联动</h1>
          <a class="btn btn-default btn-blue btn-big" href="#" role="button"
            >免费试用</a
          >
          <div class="gm4-tags">
            多仓管理 / 分公司管理 / 阿米巴模式推荐 / 下属单位权限管理
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../common/footer.html'); %>
</body>
