<%- include('../common/header.html'); %>
    <link href="../gm-css/index.css" rel="stylesheet">
<body>

   <!-- 导航 -->
    <%- include('../common/nav.html'); %>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
<!--       <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      
      </ol> -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
      
          <div class="container container-gm">
            <div class="col-md-7" style="padding-left: 60px;">
              <h4 class="featurette-heading">观麦科技—生鲜老板的选择</h4>
              <p class="lead">降耗损、省人力、提时效、增毛利、为生鲜配送老板<br/>每年提升20%利润</p>
              <a class="btn btn-default" href="#" role="button">免费试用 &raquo;</a>
            </div>
            <div class="col-md-5 flex-row-center">
              <img class="featurette-image  " src="../gm-images/index/banner-img.png">
            </div>
          </div>
        </div>

        <div class="item">
 
          <div class="container container-gm">
            <div class="col-md-7" style="padding-left: 60px;">
              <h4 class="featurette-heading">观麦科技—生鲜老板的选择</h4>
              <p class="lead">降耗损、省人力、提时效、增毛利、为生鲜配送老板<br/>每年提升20%利润</p>
              <a class="btn btn-default" href="#" role="button">免费试用 &raquo;</a>
            </div>
            <div class="col-md-5 flex-row-center">
              <img class="featurette-image  " src="../gm-images/index/banner-img.png">
            </div>
          </div>
        </div>
  
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <div class="container">
        <div class="banner-bottm">
          <div class="b-item">
            <img src="../gm-images/index/b-bottom-1.png">
            <div class="right-text">
              <p class="rigit-title">做食材配送，用观麦系统</p>
              <p class="right-tips">助力商家成功<br/>全渠道全场景的SAAS产品</p>
         
            </div>
          </div>

          <div class="b-item">
            <img src="../gm-images/index/b-bottom-2.png">
            <div class="right-text">
              <p class="rigit-title">做中央厨房，用观麦系统</p>
              <p class="right-tips">打造共赢的观麦生态<br/>为商家提供全方位一站式服务</p>
         
            </div>
          </div>

          <div class="b-item">
            <img src="../gm-images/index/b-bottom-3.png">
            <div class="right-text">
              <p class="rigit-title">做食材配送，用观麦系统</p>
              <p class="right-tips">让商家经营有保障<br/>五年技术沉淀，系统稳定高于一切</p>
            </div>
          </div>
        </div>
      </div>


    </div><!-- /.carousel -->

     
    <hr class="featurette-divider">
    <!-- 轮播-观麦CEO专访 -->
    <div id="myCarousel2" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner " role="listbox">

        <div class="item active  flex-middle bg-gray" >
          <div class="container container-gm-slider2">
              <div class="gms2-item">
                  <img class="cars-img-avatar" src="../gm-images/index/cars-avatar.png">
                  <div class="car-desc">抢占中小学营养配餐市场：如何考虑地区，饮食，营养差异？</div>
                  <img class="cars-img-logo" src="./gm-images/index/cars-img-logo.png">

              </div>
              <div class="gms2-item">
                  <img class="cars-img-avatar" src="../gm-images/index/cars-avatar.png">
                  <div class="car-desc">抢占中小学营养配餐市场：如何考虑地区，饮食，营养差异？</div>
                  <img class="cars-img-logo" src="./gm-images/index/cars-img-logo.png">
              </div>
              <div class="gms2-item">
                  <img class="cars-img-avatar" src="../gm-images/index/cars-avatar.png">
                  <div class="car-desc">抢占中小学营养配餐市场：如何考虑地区，饮食，营养差异？</div>
                  <img class="cars-img-logo" src="./gm-images/index/cars-img-logo.png">
              </div>
          </div>
        </div>

        <div class="item  flex-middle bg-gray" >
          <div class="container container-gm-slider2">
              <div class="gms2-item">
                  <img class="cars-img-avatar" src="../gm-images/index/cars-avatar.png">
                  <div class="car-desc">抢占中小学营养配餐市场：如何考虑地区，饮食，营养差异？</div>
                  <img class="cars-img-logo" src="./gm-images/index/cars-img-logo.png">

              </div>
              <div class="gms2-item">
                  <img class="cars-img-avatar" src="../gm-images/index/cars-avatar.png">
                  <div class="car-desc">抢占中小学营养配餐市场：如何考虑地区，饮食，营养差异？</div>
                  <img class="cars-img-logo" src="./gm-images/index/cars-img-logo.png">
              </div>
              <div class="gms2-item">
                  <img class="cars-img-avatar" src="../gm-images/index/cars-avatar.png">
                  <div class="car-desc">抢占中小学营养配餐市场：如何考虑地区，饮食，营养差异？</div>
                  <img class="cars-img-logo" src="./gm-images/index/cars-img-logo.png">
              </div>
          </div>
        </div>

      </div>

      <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" style="color: rgb(143,143,143);" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" style="color: rgb(143,143,143);" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div><!-- /.carousel -->

  
     
<%- include('../common/footer.html'); %>