<%- include('../common/header.html'); %>
<link href="../gm-css/delivery.css" rel="stylesheet" />
<body>
  <%- include('../common/nav.html'); %>
  <!-- 蓝色背景头部 -->
  <div id="deliveryHeaderOuter">
    <div class="container">
      <div class="row deliveryHeader">
        <!-- <div class="col-md-1 col-lg-1"></div> -->
        <div class="col-md-6 col-lg-6 deliveryHeaderLeft">
          <div class="deliveryHeaderLeft wow fadeInLeft">
            <h1>观麦生鲜配送系统</h1>
            <p>
              客源广、接单易、分拣快、利润高、协作强<br />让农产品流高效，配送企业管理更便捷，工作效率显著提升
            </p>
            <a
              class="btn btn-default-header btn-default1"
              style="font-weight: 300"
              href="#"
              role="button"
              >免费试用 &raquo;</a
            >
          </div>
        </div>

        <div class="col-md-6 col-lg-6 deliveryHeaderRight wow fadeInRight">
          <img src="../gm-images/delivery/配送.gif" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- 管理者六大难题 -->
  <div class="deliverySix">
    <h1>管理者的六大难题</h1>
    <div>95%的企业都在经历的困境，你是否也在面对？</div>
  </div>
  <section id="deliveryDifficult">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 retail-difficult-item">
          <div>
            <span
              ><img src="../gm-images/retail/组 2@2x(12).png" alt=""
            /></span>
            <span>线下传统拓客艰难</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 retail-difficult-item">
          <div>
            <span
              ><img src="../gm-images/retail/矢量智能对象@2x(3).png" alt=""
            /></span>
            <span>人工接单效率低下</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 retail-difficult-item">
          <div>
            <span
              ><img src="../gm-images/retail/矢量智能对象@2x.png" alt=""
            /></span>
            <span>纸质单据繁杂混乱</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 retail-difficult-item">
          <div>
            <span
              ><img src="../gm-images/retail/矢量智能对象@2x(1).png" alt=""
            /></span>
            <span>产品损耗无法把控</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 retail-difficult-item">
          <div>
            <span
              ><img src="../gm-images/retail/矢量智能对象@2x(2).png" alt=""
            /></span>
            <span>采购猫腻缺乏管控</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 retail-difficult-item">
          <div>
            <span
              ><img src="../gm-images/retail/矢量智能对象@2x(4).png" alt=""
            /></span>
            <span>结算周期长坏账多</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 可实现目标 -->
  <div class="deliverySix">
    <h1>观麦配送系统可实现目标</h1>
    <div>降本提效，打通内外，数据清晰、分析明确，提升价值</div>
  </div>
  <section id="deliveryMubiao">
    <div class="container">
      <ul>
        <li>
          <h2>降低损耗</h2>
          <p>-20%</p>
        </li>
        <li>
          <h2>节省人力</h2>
          <p>-50%</p>
        </li>
        <li>
          <h2>提高时效</h2>
          <p>+40%</p>
        </li>
        <li>
          <h2>增加毛利</h2>
          <p>+5%</p>
        </li>
      </ul>
    </div>
  </section>

  <!-- 蓝色区域 -->
  <div id="deliveryBule">
    <div class="container">
      <div>
        <h2>解决方法</h2>
        <p>
          生鲜老板最全面的业务场景，结合技术创新能力，连接你的经营网络，发挥渠道聚合效能，<br />提供生鲜领域的解决方案。
        </p>
        <div class="documentCenter"><a href="">进入文档中心</a></div>
      </div>
    </div>
  </div>

  <!-- 价值体系 -->
  <div class="deliverySix">
    <h1>观麦系统赋能价值体系</h1>
    <div>从信息工作到价值生态的进化，生鲜配送IT解决方案</div>
  </div>
  <div class="container marketing">
    <div class="row featurette">
      <div class="f-warp wow fadeInLeft">
        <div class="right-text">
          <p class="right-title">智能定价，每天节约2小时调价</p>
          <p class="right-tips right-tips-left">
            覆盖系统所有成本来源，自动定价自定义设置商品，完成商品销售，<br />供应链信息设置、多规格销售、多供应绑定、多图展示、商品描述<br />导入、导出、批量修改、分客户展示
          </p>
        </div>
      </div>
      <div class="f-warp flex-right wow fadeInRight">
        <img
          class="featurette-image-w img-responsive"
          src="../gm-images/kitchen/item1.png"
          alt="Generic placeholder image"
          style="width: 376px"
        />
      </div>
    </div>

    <div class="row featurette">
      <div class="f-warp flex-left wow fadeInLeft">
        <img
          class="featurette-image-w img-responsive"
          src="../gm-images/kitchen/item2.png"
          style="width: 311px"
        />
      </div>
      <div class="f-warp wow fadeInRight">
        <div class="right-text">
          <p class="right-title">客户自主下单，节省80%录单员</p>
          <p class="right-tips right-tips-right">
            公众号、小程序、支付宝、APP多种移动端下单商城<br />
            文字、图片下单，可快速智能识别<br />
            客户轻松下单，常用商品、语音下单、再来一单
          </p>
        </div>
      </div>
    </div>

    <div class="row featurette">
      <div class="f-warp wow fadeInLeft">
        <div class="right-text">
          <p class="right-title">移动轻应用，采购效率提升60%</p>
          <p class="right-tips right-tips-left">
            采购任务自动分配，手机随时可查<br />
            支持APP或扫描二维码接收实时采购任务，进行询价比价<br />
            手机操作采买任务，生成预入库单，一键入库
          </p>
        </div>
      </div>
      <div class="f-warp flex-right wow fadeInRight">
        <img
          class="featurette-image-w img-responsive"
          src="../gm-images/kitchen/item3.png"
          style="width: 369px"
        />
      </div>
    </div>

    <div class="row featurette">
      <div class="f-warp flex-left wow fadeInLeft">
        <img
          class="featurette-image-w img-responsive"
          src="../gm-images/kitchen/item4.png"
          alt="Generic placeholder image"
          style="width: 493px"
        />
      </div>
      <div class="f-warp wow fadeInRight">
        <div class="right-text">
          <p class="right-title">智能规划，分拣速度提升80%</p>
          <p class="right-tips right-tips-right">
            分拣任务即时同步分拣一体机、已完成未完成快速标记筛选<br />
            自动分拣，智能匹配商品重量，释放双手<br />
            图片分拣，员工不识字也能快速完成工作<br />
            支持供应商称重入库、地磅入库、实际称重出库，一键打印标签
          </p>
        </div>
      </div>
    </div>

    <div class="row featurette">
      <div class="f-warp wow fadeInLeft">
        <div class="right-text">
          <p class="right-title">
            智能规划配送任务，可视化调度，<br />
            效率暴增480%
          </p>
          <p class="right-tips right-tips-left">
            分拣任务即时同步分拣一体机、已完成未完成快速标记筛选<br />
            自动分拣，智能匹配商品重量，释放双手<br />
            图片分拣，员工不识字也能快速完成工作<br />
            支持供应商称重入库、地磅入库、实际称重出库，一键打印标签
          </p>
        </div>
      </div>
      <div class="f-warp flex-right wow fadeInRight">
        <img
          class="featurette-image-w img-responsive"
          src="../gm-images/kitchen/item5.png"
          alt="Generic placeholder image"
          style="width: 403px"
        />
      </div>
    </div>

    <div class="row featurette">
      <div class="f-warp flex-left wow fadeInLeft">
        <img
          class="featurette-image-w img-responsive"
          src="../gm-images/kitchen/item6.png"
          style="width: 571px"
        />
      </div>
      <div class="f-warp wow fadeInRight">
        <div class="right-text">
          <p class="right-title">员工绩效投屏，实时了解员工“战场”动态"</p>
          <p class="right-tips">
            分拣任务即时同步分拣一体机、已完成未完成快速标记筛选<br />
            自动分拣，智能匹配商品重量，释放双手<br />
            图片分拣，员工不识字也能快速完成工作<br />
            支持供应商称重入库、地磅入库、实际称重出库，一键打印标签
          </p>
        </div>
      </div>
    </div>
    <hr class="marketingBottom" />
  </div>

  <!-- 配送工作流程 -->
  <div class="deliverySix">
    <h1>观麦生鲜配送工作流程</h1>
    <div>各环节统一设置或灵活组合，支持多仓运作，支持总分公司运作</div>
  </div>
  <section id="delivery-workflow">
    <img src="../gm-images/delivery/3.png" alt="" />
  </section>
</body>
<script>
  $(".wow").attr({
    "data-wow-duration": "1000ms",
    "data-wow-delay": "0.36s",
    "data-wow-offset": 0,
    // 'data-wow-iteration':'infinite'
  });

  wow = new WOW({
    animateClass: "animated",
    offset: 1000,
    callback: function (box) {
      console.log("WOW: animating <" + box.tagName.toLowerCase() + ">");
    },
  });
  wow.init();
</script>
<%- include('../common/footer.html'); %>
