<%- include('../common/header.html'); %>
<link href="../gm-css/index.css" rel="stylesheet">
<style>
    a{text-decoration: none;}
    a:hover{text-decoration: none;}
    .swiper_content{width:1300px;margin:0 auto;position: relative;}
    .swiper-container {
        width: 1070px;
        /* height: 565px; */
        padding: 30px;
        padding-left: 28px;
        background-color: #fff;
        margin-bottom: 40px;
        overflow: hidden;
    }

    .swiper-slide:first-child {}

    .swiper-wrapper {
        /* height: 505px; */
    }

    .swiper-slide {
        border: 1px solid #f1f1f1;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        background: #fff;
        cursor: pointer;
        width: 318px !important;
        height: 445px;
        box-shadow: 0px 3px 8px 0px #e4e6f2;
    }
    /* 
        生鲜CEO专访轮播图
    */
    #myCarousel2 .swiper_content .img-clip {
        width: 100%;
        height: 300px;
        border-radius: 0 0 150px 150px / 0 0 25px 25px !important;
        overflow: hidden;
    }
    #myCarousel2 .swiper_content .img-clip img{
        width: 100%;
        height: 100%;
    }
    #myCarousel2 .swiper_content .swiper-car-desc{
        width: 260px;
        height: 45px;
        font-size: 18px;
        font-weight: 400;
        color: #3b426b;
        overflow: hidden;
        display:-webkit-box;
        /* 文本行排列方向 */
        -webkit-box-orient:vertical;
        /* 设置几行之后出现溢出省略号 */
        -webkit-line-clamp:2;
        margin: 25px auto;
    }
    .cars-img-logo-ceo{
        width: 79px;
        height: 23px;
        margin: 14px auto 10px auto;
        display: block;
    }
    .swiper-button-next,.swiper-button-prev, .swiper-button-next img,.swiper-button-prev img{
       border:none important;
    }
    .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
       content:'';
    }
    .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
        content:'';
    }
</style>

<body>
    <!-- 导航 -->
    <%- include('../common/nav.html'); %>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

            <div class="item active">

                <div class="container container-gm">
                    <div class="col-md-7 wow fadeInLeft" style="padding-left: 60px;">
                        <h4 class="featurette-heading">观麦科技—生鲜老板的选择</h4>
                        <p class="lead" style="font-size: 18px;font-weight: 300; margin: 22px 0px 35px 0px;">降耗损、省人力、提时效、增毛利、为生鲜配送老板<br />每年提升20%利润</p>
                        <a class="btn btn-default-header btn-default1 " style="font-weight: 300;"  href="#" role="button">免费试用 &raquo;</a>
                    </div>
                    <div class="col-md-5 flex-row-center wow fadeInRight">
                        <img class="featurette-image  " src="../gm-images/index/banner.gif">
                        <!-- <img class="featurette-image  " src="../gm-images/index/banner-anite.gif"> -->
                    </div>
                </div>
            </div>



        </div>
        <!--       <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->

        <div class="container">
            <div class="banner-bottm">
                <div class="b-item-banner">
                    <img src="../gm-images/index/b-bottom-1.png">
                    <div class="banner-right-text">
                        <p class="banner-rigit-title">做食材配送，用观麦系统</p>
                        <p class="banner-right-tips">助力商家成功<br />全渠道全场景的SAAS产品</p>

                    </div>
                </div>

                <div class="b-item-banner">
                    <img src="../gm-images/index/b-bottom-2.png">
                    <div class="banner-right-text">
                        <p class="banner-rigit-title">做中央厨房，用观麦系统</p>
                        <p class="banner-right-tips">打造共赢的观麦生态<br />为商家提供全方位一站式服务</p>

                    </div>
                </div>

                <div class="b-item-banner">
                    <img src="../gm-images/index/b-bottom-3.png">
                    <div class="banner-right-text">
                        <p class="banner-rigit-title">做食材配送，用观麦系统</p>
                        <p class="banner-right-tips">让商家经营有保障<br />五年技术沉淀，系统稳定高于一切</p>
                    </div>
                </div>
            </div>
        </div>


    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" style="padding-top:140px">

        <div class="markint-title wow fadeInUp">
            <h4 class="featurette-heading featurette-heading-sub ">观麦用户数字化经营系统</h4>
            <p class="lead">提供专业生鲜供应链解决方案，助力商家转型布局新零售，加速业绩增长</p>
        </div>


        <!-- START THE FEATURETTES -->
        <div class="row featurette">
            <div class="f-warp wow fadeInLeft " data-wow-delay="1s">
                <div class="right-text">
                    <p class="rigit-title">重新定义实体生鲜</p>
                    <p class="right-tips">打破传统生鲜配送企业运作模式，升级优化配送全流程，<br/>实现企业降本增效</p>
                </div>
                <div class="right-text">
                    <p class="rigit-title">生鲜企业共同选择</p>
                    <p class="right-tips">面向客户成功的服务体系不只是软件，更自然的方式改<br/>进效率，打造闭环</p>
                </div>
                <div class="btn-area">
                    <a class="btn btn-default btn-white" href="#" role="button">免费试用 &raquo;</a>
                    <a class="btn btn-default btn-white" href="#" role="button">了解更多 &raquo;</a>
                </div>
            </div>
            <div class="f-warp flex-right wow fadeInRight" data-wow-delay="1s">
                <img class="featurette-image-w img-responsive" src="../gm-images/index/computer.png"
                    alt="Generic placeholder image">
            </div>
        </div>

        <div class="row featurette">
            <div class="f-warp flex-left wow fadeInLeft" style="width: 60%;" data-wow-delay="1s">
                <img class="featurette-image-w img-responsive" src="../gm-images/index/car.png" style="width: 500px;">
            </div>
            <div class="f-warp wow fadeInRight" data-wow-delay="1s">
                <div class="right-text">
                    <p class="rigit-title">生鲜配送SAAS系统</p>
                    <p class="right-tips">打破传统生鲜配送企业运作模式，升级优化配送全流程，<br/>实现企业降本增效正在为全国几千家配送企业提供系统<br/>服务，行业认可，口碑相传</p>
                </div>
                <div class="right-text">
                    <p class="rigit-title">降本增效</p>
                    <p class="right-tips">专为生鲜配送经营场景设计灵活支持多业态多场景，全、<br/>面解决生鲜配送经营需要</p>
                </div>
                <div class="btn-area">
                    <a class="btn btn-default btn-white" href="#" role="button">免费试用 &raquo;</a>
                    <a class="btn btn-default btn-white" href="#" role="button">了解更多 &raquo;</a>
                </div>
            </div>

        </div>

        <div class="row featurette">
            <div class="f-warp wow fadeInLeft" data-wow-delay="1s">
                <div class="right-text">
                    <p class="rigit-title">中央厨房SAAS系统</p>
                    <p class="right-tips">改变无计划，不规范的生产方式，全力打造中央<br />厨房新业态经济市场风向标全方位解决净菜/肉<br />类加工、食堂配送、团餐加工、餐饮配送等问题</p>
                </div>
                <div class="right-text">
                    <p class="rigit-title">开源节流</p>
                    <p class="right-tips">规划“净菜上市”城市蓝图观麦中央厨房系统助力<br />企业降低50%的运营成本，让您的加工配送更高效</p>
                </div>
                <div class="btn-area">
                    <a class="btn btn-default btn-white" href="#" role="button">免费试用 &raquo;</a>
                    <a class="btn btn-default btn-white" href="#" role="button">了解更多 &raquo;</a>
                </div>
            </div>
            <div class="f-warp flex-right wow fadeInRight" style="width: 60%;" data-wow-delay="1s">
                <img class="featurette-image-w img-responsive" src="../gm-images/index/table.png" style="width: 530px;">
            </div>
        </div>

        <div class="row featurette">
            <div class="f-warp flex-left wow fadeInLeft" data-wow-delay="1s">
                <img class="featurette-image-w img-responsive" src="../gm-images/index/shop.png"
                    alt="Generic placeholder image">
            </div>
            <div class="f-warp wow fadeInRight" data-wow-delay="1s">
                <div class="right-text">
                    <p class="rigit-title">新零售SAAS系统</p>
                    <p class="right-tips">线上全渠道开店，海量曝光，近百种营销玩法，提升成<br />交，全方位数据剖析，驱动决策调整给你基于销售和消<br />费大数据的在线营销平台，拉新、转化、促活等面面俱到</p>
                </div>
                <div class="right-text">
                    <p class="rigit-title">事半功倍</p>
                    <p class="right-tips">贯穿整个生意环节最懂你的生意伙伴，帮助零售商家门店<br />网店双倍增长</p>
                </div>
                <div class="btn-area">
                    <a class="btn btn-default btn-white" href="#" role="button">免费试用 &raquo;</a>
                    <a class="btn btn-default btn-white" href="#" role="button">了解更多 &raquo;</a>
                </div>
            </div>

        </div>
        </div>




        <hr class="featurette-divider">

    <div class="container marketing">
        <!-- 观麦应用场景 -->
        <div class="markint-title wow fadeInUp">
            <h4 class="featurette-heading-sub featurette-heading" style="margin-top: 68px;">观麦应用场景</h4>
            <p class="lead">生鲜行业解决方案，专属应用，专业赋能</p>
        </div>
        <div class="gm-screen" id="gm-screen-id">
            <div class="gm-screen-mask"></div>
            <div class="gm-s-item border-right border-bottom">
                <img src="../gm-images/index/screen-icon1.png" class="screen-icon wow fadeInLeft">
                <div class="right-text wow fadeInLeft">
                    <p class="rigit-title rigit-title-22">订单管理</p>
                    <p class="right-tips rigit-title-15">持续进化提升安全能力</p>
                </div>
            </div>

            <div class="gm-s-item border-right border-bottom">
                <img src="../gm-images/index/screen-icon2.png" class="screen-icon wow fadeInDown">
                <div class="right-text wow fadeInDown ">
                    <p class="rigit-title rigit-title-22">采购管理</p>
                    <p class="right-tips rigit-title-15">持续进化提升安全能力</p>
                </div>
            </div>

            <div class="gm-s-item border-right border-bottom">
                <img src="../gm-images/index/分拣管理图标.png" class="screen-icon wow fadeInDown">
                <div class="right-text wow fadeInDown">
                    <p class="rigit-title rigit-title-22">分拣管理</p>
                    <p class="right-tips rigit-title-15">持续进化提升安全能力</p>
                </div>
            </div>

            <div class="gm-s-item border-bottom">
                <img src="../gm-images/index/screen-icon4.png" class="screen-icon wow fadeInRight">
                <div class="right-text wow fadeInRight">
                    <p class="rigit-title rigit-title-22">加工管理</p>
                    <p class="right-tips rigit-title-15">持续进化提升安全能力</p>
                </div>
            </div>

            <div class="gm-s-item border-right border-bottom2">
                <img src="../gm-images/index/screen-icon5.png" class="screen-icon wow fadeInLeft">
                <div class="right-text wow fadeInLeft">
                    <p class="rigit-title rigit-title-22">配送管理</p>
                    <p class="right-tips rigit-title-15">持续进化提升安全能力</p>
                </div>
            </div>

            <div class="gm-s-item border-right border-bottom2">
                <img src="../gm-images/index/screen-icon6.png" class="screen-icon wow fadeInUp">
                <div class="right-text wow fadeInUp">
                    <p class="rigit-title rigit-title-22">仓储管理</p>
                    <p class="right-tips rigit-title-15">持续进化提升安全能力</p>
                </div>
            </div>

            <div class="gm-s-item  border-right border-bottom2">
                <img src="../gm-images/index/screen-icon7.png" class="screen-icon wow fadeInUp">
                <div class="right-text wow fadeInUp">
                    <p class="rigit-title rigit-title-22">对账管理</p>
                    <p class="right-tips rigit-title-15">持续进化提升安全能力</p>
                </div>
            </div>


            <div class="gm-s-item border-bottom2">
                <img src="../gm-images/index/screen-icon8.png" class="screen-icon wow fadeInRight">
                <div class="right-text wow fadeInRight">
                    <p class="rigit-title rigit-title-22">数据分析</p>
                    <p class="right-tips rigit-title-15">持续进化提升安全能力</p>
                </div>
            </div>

        </div>
    </div>


    <!-- <hr class="featurette-divider"> -->
    <!-- 轮播-观麦CEO专访 -->
    <div id="myCarousel2" class="carousel slide " data-ride="carousel">
        <div class="carousel-inner " role="listbox" style="  background-color: rgba(245, 247, 253, 1) !important;">
            <div class="markint-title">
                <h4 class="featurette-heading-sub featurette-heading" style="margin-top:90px;">生鲜CEO专访</h4>
                <p class="lead">全面解读生鲜巨头、深度剖析资本运作、高度分享CEO智慧</p>
            </div>

            <div class="swiper_content">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                    <% ceo.forEach(function(item){%>
                        <% if(item.link){%>
                            <a class="swiper-slide " href="<%=item.link %>">
                        <% }else {%>
                            <a class="swiper-slide " href="/case_detail/<%=item.id %>">
                        <% }%>
                            <div class="img-clip" >
                                <img class="cars-img-avatar" src="<%=item.image%>">
                            </div>
                            <div class="swiper-car-desc"><%=item.title%></div>
                            <img class="cars-img-logo-ceo" src="./gm-images/index/cars-img-logo.png">
                        </a>
                    <% }) %>
                    </div>
                    <!-- Add Pagination -->
                    <!-- <div class="swiper-pagination"></div> -->

                </div>
                <div class="swiper-button-next"><img src="./gm-images/index/right.png" alt=""></div>
                <div class="swiper-button-prev"><img src="./gm-images/index/left.png" alt=""></div>
            </div>
        </div>

    </div><!-- /.carousel -->

    <div class="container" style="padding-top: 0px;margin-top:240px;">
        <!-- 观麦系统优势介绍 -->
        <div class="markint-title">
            <h4 class="featurette-heading-sub featurette-heading">观麦系统优势介绍</h4>
            <p class="lead">打造生鲜行业全场景一体化解决方案，做企业的升级管理</p>
            <!-- <img src="../gm-images/index/bigimg1.png"> -->
        </div>
        <!-- 优势介绍 -->
        <div id="superiority">
            <div class="superiorityLeft positionDiv superiorityWidth">
                <div class="bottomMargin superiorityOne">
                    <div class="superiorityTitleHeader
                     oneFour wow fadeInUp">
                        <span class="superiorityNum">01</span><span class="superiorityTitle">行业链条</span>
                    </div>
                    <!-- 内容和标题之间的线 -->
                    <div class="superiorityLine superiorityLineBefore"><div class="jqSuperiorityLineLeft superiorityLineLeft"></div></div>
                    <!-- 斜线 -->
                    <div class="jqSlashLineOne slashLineOne">
                        <div class="jqSlashLineOneInner slashLineOneInner"></div>
                    </div>
                    <!-- 直线 -->
                    <div class="jqStraightLineOne straightLineOne">
                        <div class="jqStraightLineOneInner straightLineOneInner"></div>
                    </div>
                    <div class="wow fadeInUp">
                       <p class="superiorityContent">适用于食堂、餐厅、门店、社区、中央厨房<br>
                        净菜肉类加工等生鲜配送企业。</p> </div>
                </div>
                <div class="bottomMargin superiorityTwo">
                    <div class="superiorityTitleHeader twoFive wow fadeInUp
                    ">
                        <span class="superiorityNum">02</span><span class="superiorityTitle">技术沉淀</span>
                    </div>
                    <!-- 中间线 -->
                    <div class="superiorityLineBefore  superiorityLine"><div class="jqSuperiorityLineLeft superiorityLineLeft"></div></div>
                    <!-- 直线 -->
                    <div class="straightLineTwo">
                        <div class="straightLineTwoInner jqStraightLineTwoInner">
                        </div>
                    </div>
                    <div class="wow fadeInUp">
                       <p class="superiorityContent">商品运营、下单、采购、库存、分拣、财务、<br>
                        配送售后、权限管理一应俱全，构建企业垂<br>
                        直完善的产品价值体系</p> </div>
                </div>
                <div class="superiorityThree">
                    <div class="superiorityTitleHeader threeSix wow fadeInUp
                    ">
                        <span class="superiorityNum">03</span><span class="superiorityTitle">移动协作</span>
                    </div>
                    <!-- 直线 -->
                    <div class="superiorityLineBefore  superiorityLine"><div class="jqSuperiorityLineLeft superiorityLineLeft"></div></div>
                    <!-- 斜线 -->
                    <div class="jqSlashLineThree slashLineThree"><div class="slashLineThreeInner jqSlashLineThreeInner"></div></div>
                    <!-- 直线 -->
                    <div class="straightLineThree">
                        <div class="straightLineThreeInner jqStraightLineThreeInner">
                        </div>
                    </div>
                    <div class="wow fadeInUp">
                       <p class="superiorityContent">采购、分拣、司机、供应商等多个移动APP应用<br>
                        端增值工具，随时随地高效工作。</p> </div>
                </div>
            </div>
            <div class="superiorityCenter topBottomCenter superiorityWidth">
                <div class="superiorityCenteImgOuter topBottomCenter">
                    <div class="topBottomCenter">
                        <div class="topBottomCenterImg">
                            <img src="../gm-images/index/图2.png" alt="" class="topBottomCenterimg2">
                            <img src="../gm-images/index/图1.png" alt="" class="topBottomCenterimg1">
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="superiorityright positionDiv superiorityWidth">
                <div class="bottomMargin superiorityFour">
                    <div class="superiorityTitleHeader oneFour wow fadeInUp">
                        <span class="superiorityTitle">行业链条</span><span class="superiorityNum">04</span>
                    </div>
                    <!-- 中间直线 -->
                    <div class="superiorityLine superiorityLineAfter jqSuperiorityLineRight"></div>
                    <!-- 直线 -->
                    <div class="jqStraightLineFour straightLineFour"></div>
                    <!-- 斜线 -->
                    <div class="jqSlashLineFour slashLineFour">
                        <div class="slashLineFourInner jqSlashLineFourInner"></div>
                    </div>
                    <div class="wow fadeInUp"><p class="superiorityContent"> 适用于食堂、餐厅、门店、社区、中央厨房<br>
                        净菜肉类加工等生鲜配送企业。</p></div>
                </div>
                
                <div class="bottomMargin superiorityFive">
                    <div class="superiorityTitleHeader twoFive wow fadeInUp">
                        <span class="superiorityTitle">操作简便</span><span class="superiorityNum">05</span>
                    </div>
                    <div class="superiorityLine superiorityLineAfter jqSuperiorityLineRight"></div>
                    <!-- 直线 -->
                    <div class="straightLineFive"></div>
                    <div class="wow fadeInUp"><p class="superiorityContent"> 专业实施落地团队一对一培训教学，通俗<br>
                        易懂的操作流程，适用范畴覆盖全体人群。</p></div>
                </div>
                <div class="superioritySix">
                    <div class="superiorityTitleHeader tdiveeSix wow fadeInUp">
                        <span class="superiorityTitle">永不止步</span><span class="superiorityNum">06</span>
                    </div>
                    <div class="superiorityLine superiorityLineAfter jqSuperiorityLineRight"></div>
                    <!-- 直线 -->
                    <div class="straightLineSix"></div>
                    <!-- 斜线 -->
                    <div class="slashLineSix">
                        <div class="slashLineSixInner"></div>
                    </div>

                    <div class="wow fadeInUp"><p class="superiorityContent">2年配送实践经验，3年持续深挖研发，5年百分<br>
                        用心服务，始终专注于食配供应链产品和服务。</p></div>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="container" style="padding-top: 0px;">
        <!-- 他们都在用观麦 -->
        <div class="markint-title">
            <h4 class="featurette-heading-sub featurette-heading" style="margin-top: 90px;">他们都在用观麦</h4>
            <p class="lead">观麦为企业赋能，提升生鲜业态，共享未来，我们一直在努力</p>
        </div>
        <div class="gm3-screen">
            <% case2.forEach(function(item2){%>
            <% if(item2.link){%>
                <a class="gms3-item" href="<%=item2.link %>">
            <% }else {%>
                <a class="gms3-item" href="/case_detail/<%=item2.id %>">
            <% }%>
                <img class="cars-img-avatar" src="<%=item2.image %>">
                <img class="cars-img-logo" src="./gm-images/index/cars-img-logo.png">
                <div class="car-desc"><%=item2.title %></div>
            </a>
            <% }) %>
        </div>
    </div>

    <div class="bg-good">
        <img src="../gm-images/index/bg-good.png" class="bg-good-img">
        <div class="markint-title wow fadeInUp bg-good-content">
            <h4 class="featurette-heading-sub featurette-heading" style="margin-bottom: 40px;">他们都说观麦好</h4>
            <a class="btn-blue btn-big btn-tank btn-scale-hover" href="#" role="button">查看更多</a>
        </div>

    </div>


    <div class="container container-change" style="margin-bottom: 80px;">
        <div class="gm4-screen">
            <div class="gm4-left">
                <div class="gms4-item">
                    <div class="gms4-num wow"><span class="shake_total">0</span>+</div>
                    <div class="gms4-desc">客户信赖之选</div>
                </div>
                <div class="gms4-item">
                    <div class="gms4-num wow">
                        <span class="swing_total">0</span>+
                    </div>
                    <div class="gms4-desc">覆盖城市</div>
                </div>
                <div class="gms4-item">
                    <div class="gms4-num wow">
                        <span class="efficiency_total">0</span>%
                    </div>
                    <div class="gms4-desc">效率提升</div>
                </div>

            </div>
            <div class="gm4-right">
                <div class="font-light-64">观麦服务标准</div>
                <a class="btn btn-default btn-blue btn-tank font-regular-27 btn-bigger btn-bigger-hover" href="#" role="button ">免费试用</a>
                <div class="gm4-tags">多仓管理 / 分公司管理 / 阿米巴模式推荐 / 下属单位权限管理</div>
            </div>
        </div>
    </div>

    <!-- 观麦的生鲜课堂 -->
    <!-- 蓝色条 -->
    <div id="freshClassBlue">
        <a href="#" class="btn btn-default-header btn-freshClassBlue">立即推荐</a>
    </div>
    <!-- 下面的区域 -->
    <div class="markint-title">
        <h4 class="featurette-heading-sub featurette-heading" style="margin-top: 90px;">观麦生鲜课堂</h4>
        <p class="lead">观麦企业赋能，提升产业业态，共享未来、我们一直在努力</p>
    </div>

    <div id="freshClass">
        <div class="container">
            <ul class="freshClassUl">
                <li>
                    <div class="freshClassImg">
                        <img src="../gm-images/1.jpeg" alt="">
                    </div>
                    <div class="freshClassRight">
                        <span class="freshClassRightTitle">
                            后疫情时代，配送公司面临的挑战和应付措施
                        </span>
                        <div class="freshClassRightFont freshClassRightDate">
                            <span>阅读数：7</span> |
                            <span>2020-08-03 11:00:11</span>
                        </div>
                        <span class="freshClassRightCon freshClassRightFont">
                            后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人...
                        </span>
                    </div>
                    
                </li>
                <li>
                    <div class="freshClassImg">
                        <img src="../gm-images/1.jpeg" alt="">
                    </div>
                    <div class="freshClassRight">
                        <span class="freshClassRightTitle">
                            后疫情时代，配送公司面临的挑战和应付措施
                        </span>
                        <div class="freshClassRightFont freshClassRightDate">
                            <span>阅读数：7</span> |
                            <span>2020-08-03 11:00:11</span>
                        </div>
                        <span class="freshClassRightCon freshClassRightFont">
                            后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人...
                        </span>
                    </div>
                    
                </li>
                <li>
                    <div class="freshClassImg">
                        <img src="../gm-images/1.jpeg" alt="">
                    </div>
                    <div class="freshClassRight">
                        <span class="freshClassRightTitle">
                            后疫情时代，配送公司面临的挑战和应付措施
                        </span>
                        <div class="freshClassRightFont freshClassRightDate">
                            <span>阅读数：7</span> |
                            <span>2020-08-03 11:00:11</span>
                        </div>
                        <span class="freshClassRightCon freshClassRightFont">
                            后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人...
                        </span>
                    </div>
                    
                </li>
                <li>
                    <div class="freshClassImg">
                        <img src="../gm-images/1.jpeg" alt="">
                    </div>
                    <div class="freshClassRight">
                        <span class="freshClassRightTitle">
                            后疫情时代，配送公司面临的挑战和应付措施
                        </span>
                        <div class="freshClassRightFont freshClassRightDate">
                            <span>阅读数：7</span> |
                            <span>2020-08-03 11:00:11</span>
                        </div>
                        <span class="freshClassRightCon freshClassRightFont">
                            后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人...
                        </span>
                    </div>
                    
                </li>
                <li>
                    <div class="freshClassImg">
                        <img src="../gm-images/1.jpeg" alt="">
                    </div>
                    <div class="freshClassRight">
                        <span class="freshClassRightTitle">
                            后疫情时代，配送公司面临的挑战和应付措施
                        </span>
                        <div class="freshClassRightFont freshClassRightDate">
                            <span>阅读数：7</span> |
                            <span>2020-08-03 11:00:11</span>
                        </div>
                        <span class="freshClassRightCon freshClassRightFont">
                            后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人...
                        </span>
                    </div>
                    
                </li>
                <li>
                    <div class="freshClassImg">
                        <img src="../gm-images/1.jpeg" alt="">
                    </div>
                    <div class="freshClassRight">
                        <span class="freshClassRightTitle">
                            后疫情时代，配送公司面临的挑战和应付措施
                        </span>
                        <div class="freshClassRightFont freshClassRightDate">
                            <span>阅读数：7</span> |
                            <span>2020-08-03 11:00:11</span>
                        </div>
                        <span class="freshClassRightCon freshClassRightFont">
                            后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人...
                        </span>
                    </div>
                    
                </li>
                <li>
                    <div class="freshClassImg">
                        <img src="../gm-images/1.jpeg" alt="">
                    </div>
                    <div class="freshClassRight">
                        <span class="freshClassRightTitle">
                            后疫情时代，配送公司面临的挑战和应付措施
                        </span>
                        <div class="freshClassRightFont freshClassRightDate">
                            <span>阅读数：7</span> |
                            <span>2020-08-03 11:00:11</span>
                        </div>
                        <span class="freshClassRightCon freshClassRightFont">
                            后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人...
                        </span>
                    </div>
                    
                </li>
                <li>
                    <div class="freshClassImg">
                        <img src="../gm-images/1.jpeg" alt="">
                    </div>
                    <div class="freshClassRight">
                        <span class="freshClassRightTitle">
                            后疫情时代，配送公司面临的挑战和应付措施
                        </span>
                        <div class="freshClassRightFont freshClassRightDate">
                            <span>阅读数：7</span> |
                            <span>2020-08-03 11:00:11</span>
                        </div>
                        <span class="freshClassRightCon freshClassRightFont">
                            后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人...
                        </span>
                    </div>
                    
                </li>
                <li>
                    <div class="freshClassImg">
                        <img src="../gm-images/1.jpeg" alt="">
                    </div>
                    <div class="freshClassRight">
                        <span class="freshClassRightTitle">
                            后疫情时代，配送公司面临的挑战和应付措施
                        </span>
                        <div class="freshClassRightFont freshClassRightDate">
                            <span>阅读数：7</span> |
                            <span>2020-08-03 11:00:11</span>
                        </div>
                        <span class="freshClassRightCon freshClassRightFont">
                            后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人...
                        </span>
                    </div>
                    
                </li>
                <li>
                    <div class="freshClassImg">
                        <img src="../gm-images/1.jpeg" alt="">
                    </div>
                    <div class="freshClassRight">
                        <span class="freshClassRightTitle">
                            后疫情时代，配送公司面临的挑战和应付措施
                        </span>
                        <div class="freshClassRightFont freshClassRightDate">
                            <span>阅读数：7</span> |
                            <span>2020-08-03 11:00:11</span>
                        </div>
                        <span class="freshClassRightCon freshClassRightFont">
                            后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人后疫情时代，配送公司面临的挑战和应付措施,为了帮助更多的生鲜食配人...
                        </span>
                    </div>
                    
                </li>
            </ul>
        </div>
    </div>
    
    <a href="#" class="manyBtn">查看更多</a>
    <script>
        $('.wow').attr({
            "data-wow-duration": '1000ms',
            'data-wow-delay': '0.36s',
            'data-wow-offset': 0,
            // 'data-wow-iteration':'infinite'
        })

        wow=new WOW(
            {
                animateClass: 'animated',
                offset: 1000,
                callback: function(box) {
                    console.log("WOW: animating <"+box.tagName.toLowerCase()+">")
                }
            }
        );
        wow.init();
        $(function() {
            var swiper=new Swiper('.swiper-container',{
                slidesPerView: 3,
                spaceBetween: 29,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
            var obj={
                el: $(".shake_total"),
                max: 5200,
                start: 0,//增加开始的初始值
                timer: 1.5,
                offset: 20,
            };
            var obj2={
                el: $(".swing_total"),
                max: 500,
                start: 0,//增加开始的初始值
                timer: 10,
                offset: 5,
            }
            var obj3={
                el: $(".efficiency_total"),
                max: 100,
                start: 0,//增加开始的初始值
                timer: 10,
                offset: 1,
            }
            // up(obj); up(obj2);up(obj3)
            //只触发一次
            let flag = true;
            let flag2 = true;
            window.onscroll = function(){
                const rectObject = document.getElementsByClassName("container-change")[0].getBoundingClientRect();
                const rectObjectTop = rectObject.top;
                const htmlHeight =  document.documentElement.clientHeight
                if(Math.floor(rectObjectTop) < Math.floor(htmlHeight)-100  && flag){
                    up(obj); up(obj2);up(obj3)
                    flag = false
                }
                // 获取优势介绍距离屏幕的高度
                const superiorityObj = document.getElementById('superiority').getBoundingClientRect();
                const superiorityObjTop = superiorityObj.top;
                if(Math.floor(superiorityObjTop) < Math.floor(htmlHeight)-100  && flag2){
                    // 观麦的优势介绍动画  01
                    // $('.jqSuperiorityLineLeft').css('animation','superiorityChange .3s linear .76s 1 both')
                    cssAnimate('.jqSuperiorityLineLeft','superiorityChange .3s linear .76s 1 both')
                    // 斜线
                    cssAnimate('.jqSlashLineOneInner','superiorityChange .2s linear .56s 1 both')
                    // 直线
                    cssAnimate('.jqStraightLineOneInner','superiorityChange .2s linear .36s  1 both')
                    // 02
                    cssAnimate('.jqStraightLineTwoInner','superiorityChange .4s linear .36s 1 both')
                    // 03 直线
                    cssAnimate('.jqStraightLineThreeInner','superiorityChange .2s linear .36s 1 both')
                    // 斜线
                    cssAnimate('.jqSlashLineThreeInner','superiorityChange .2s linear .56s 1 both')

                    // 04 直线
                    // 右边中间的直线
                    cssAnimate('.jqSuperiorityLineRight','superiorityLineRightChange .3s linear .76s 1 both')
                    cssAnimate('.jqStraightLineFour','straightLineFourChange .2s linear .36s 1 both')
                    // 斜线
                    cssAnimate('.jqSlashLineFourInner','slashLineFourChange .2s linear .56s 1 both')

                    // 05
                    cssAnimate('.straightLineFive','straightLineFiveChange .4s linear .36s 1 both')

                    // 06
                    cssAnimate('.straightLineSix','straightLineSixChange .2s linear .36s 1 both')

                    //斜线
                    cssAnimate('.slashLineSixInner','slashLineFourChange .2s linear .56s 1 both')

                    // 倒计时'
                    setTimeout(function(){
                        // 添加左边的圆点
                        $('.superiorityLineBefore').addClass("superiorityLine-before")
                        $('.superiorityLineAfter').addClass("superiorityLine-after")
                    },1076)
                    flag2 = false
                }
            
            }
            
            // 观麦应用场景动画
            $('#gm-screen-id').mouseenter(function(e){
                let str = e.target.innerText;
                let gmItemWidth = $('.gm-s-item').width()+2
                let gmItemHeight = $('#gm-screen-id').height()/2
                // 当前模块距离外层距离
                let divWidth = e.target.offsetLeft;
                let divHeight = e.target.offsetTop;
                console.log('moveFn1',divWidth,divHeight,e.target)
                let oMask = document.getElementsByClassName('gm-screen-mask')[0]
                if(str.includes('订单管理')){
                    $('.gm-screen-mask').css({'display':'block','top':'0','left':'0'})
                }
                if(str.includes('采购管理')){
                    $('.gm-screen-mask').css({'display':'block','top':'0','left':gmItemWidth})
                }
                if(str.includes('分拣管理')){
                    $('.gm-screen-mask').css({'display':'block','top':'0','left':gmItemWidth*2})
                }
                if(str.includes('加工管理')){
                    $('.gm-screen-mask').css({'display':'block','top':'0','left':gmItemWidth*3})
                }
                if(str.includes('配送管理')){
                    $('.gm-screen-mask').css({'display':'block','top':gmItemHeight,'left':'0'})
                }
                if(str.includes('仓储管理')){
                    $('.gm-screen-mask').css({'display':'block','top':gmItemHeight,'left':gmItemWidth})
                }
                if(str.includes('对账管理')){
                    $('.gm-screen-mask').css({'display':'block','top':gmItemHeight,'left':gmItemWidth*2})
                }
                if(str.includes('数据分析')){
                    $('.gm-screen-mask').css({'display':'block','top':gmItemHeight,'left':gmItemWidth*3})
                }
                let timer2 = null;
                let timer = null;
                function clear(){
                    clearInterval(timer2);
                    clearInterval(timer);
                }
                function move1(start,end,div){
                    console.log('start,end',start,end)
                    //在每一个两秒内，不让滚动条直接走，而是以动画形式移动
                    var start = start;//当前滚动条的位置
                    var end = end;//每次动画的结束位置
                    var startStep = 0;
                    var endStep = 20;
                    var everyStep = (end - start) / (endStep - startStep);//每一步所走的距离
                    //让滚动条条动画移动
                    timer2 = setInterval(function () {
                        startStep ++;//用来判断动画是否执行完毕
                        if (startStep >= endStep) {
                            clearInterval(timer2);
                        }
                        start += everyStep;
                        oMask.style.left= Math.round(start) +"px"
                    },10)
                }
                // 节流
                function move2(start,end,div){
                    console.log('start,end',start,end)
                    //在每一个两秒内，不让滚动条直接走，而是以动画形式移动
                    var start = start;//当前滚动条的位置
                    var end = end;//每次动画的结束位置
                    var startStep = 0;
                    var endStep = 20;
                    var everyStep = (end - start) / (endStep - startStep);//每一步所走的距离
                    //让滚动条条动画移动
                    timer = setInterval(function () {
                        startStep ++;//用来判断动画是否执行完毕
                        if (startStep >= endStep) {
                            clearInterval(timer);
                        }
                        start += everyStep;
                        oMask.style.top= Math.round(start) +"px"
                    },10)
                }
                // 节流
                function throttle(fn, time) {
                    let lastTime = 0;
                    return function () {
                        //获取当前进入的时间
                        let nowTime = Date.now();
                        //进行判断，如果小于就直接返回出去
                        if (nowTime - lastTime < time) {
                            return;
                        }
                        fn.call(this, arguments[0]);
                        //把lastTime更新一下 方便下次判断
                        lastTime = nowTime;
                    }
                }
                function moveFn(e){
                    
                    clear()
                    let str1 = e.target.innerText;
                    let step = 10;
                    if(str1.includes('订单管理')){
                        clear()
                        move1(divWidth,0)
                        move2(divHeight,0)
                        divWidth = 0;
                        divHeight = 0;
                    }
                    if(str1.includes('采购管理')){
                        clear()
                        move1(divWidth,gmItemWidth)
                        move2(divHeight,0)
                        divWidth = gmItemWidth;
                        divHeight = 0;
                    }
                    if(str1.includes('分拣管理')){
                        clear()
                        move1(divWidth,gmItemWidth*2)
                        move2(divHeight,0)
                        divWidth = gmItemWidth*2;
                        divHeight = 0;
                    }
                    if(str1.includes('加工管理')){
                        clear()
                        move1(divWidth,gmItemWidth*3)
                        move2(divHeight,0)
                        divWidth = gmItemWidth*3;
                        divHeight = 0;
                    }
                    if(str1.includes('配送管理')){
                        clear()
                        move1(divWidth,0)
                        move2(divHeight,gmItemHeight)
                        divWidth = 0;
                        divHeight = gmItemHeight;
                    }
                    if(str1.includes('仓储管理')){
                        clear()
                        move1(divWidth,gmItemWidth)
                        move2(divHeight,gmItemHeight)
                        divWidth = gmItemWidth;
                        divHeight = gmItemHeight;
                    }
                    if(str1.includes('对账管理')){
                        clear()
                        move1(divWidth,gmItemWidth*2)
                        move2(divHeight,gmItemHeight)
                        divWidth = gmItemWidth*2;
                        divHeight = gmItemHeight;
                    }
                    if(str1.includes('数据分析')){
                        clear()
                        move1(divWidth,gmItemWidth*3)
                        move2(divHeight,gmItemHeight)
                        divWidth = gmItemWidth*3;
                        divHeight = gmItemHeight;
                    }
                }
                // 移动
                $('#gm-screen-id').mousemove(throttle(moveFn,250))
            })
            $('#gm-screen-id').mouseleave(function(){
                $('.gm-screen-mask').css({'display':'none','top':'0','left':'0'})
            })
        
        })
       
        function up(obj) {
            var item=obj.el;
            var num=obj.max;
            var start=obj.start;
            var timer=obj.timer;
            var offset=obj.offset;
            var time2=setInterval(function() {
                start=start+offset;
                if(start>num) {
                    start=num;
                    clearInterval(time2);
                }
                item.text(start)
            },timer)
        }
        function cssAnimate(name,style){
            $(name).css('animation',style)
        }
    </script>

    <%- include('../common/footer.html'); %>
