<%- include('../common/header.html'); %>
<link href="../gm-css/index.css" rel="stylesheet" />
<link href="../gm-css/kitchen.css" rel="stylesheet" />
<body>
  <!-- 导航 -->
  <%- include('../common/nav.html'); %>

  <!--  kitchenBanner -->
  <section id="kitchenBanner">
    <div class="container">
      <!-- <div class="banner-text"></div>
        <div><button class="btn btn-primary banner-btn">免费试用</button></div> -->
      <div class="row footer-top">
        <div class="col-md-6 col-lg-6 wow fadeInLeft">
          <h1 style="font-size: 40px; font-weight: 400">
            观麦生鲜中央厨房系统
          </h1>
          <div class="banner-text">
            <p style="font-size: 18px; color: #bcceff; padding: 0">
              社区配送、净菜/肉类加工、门店配送<br />
              冷链冷库平台、大宗批发、餐厅配送
            </p>
          </div>
          <div>
            <button class="btn btn-primary banner-btn">
              免费试用 »
              <!-- <img src="../gm-images/class-center/组16@2x(1).png" alt="" /> -->
            </button>
          </div>
        </div>
        <div class="col-md-5 col-lg-6 wow fadeInRight">
          <img
            class="platform-img "
            src="../gm-images/kitchen/banner.gif"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- End  kitchenBanner -->

  <section id="kitchenAdvantage">
    <div class="container">
      <div class="kitchen-advantage-item">
        <div>
          <img src="../gm-images/kitchen/矢量智能对象@2x.png" alt="" />
        </div>
        <div>
          <h4>政策支持力度大</h4>
          <p>政策支持力度如何如何</p>
        </div>
      </div>
      <div class="kitchen-advantage-item">
        <div>
          <img src="../gm-images/kitchen/矢量智能对象@2x(3).png" alt="" />
        </div>
        <div>
          <h4>持续推动净菜发展</h4>
          <p>政策支持力度如何如何</p>
        </div>
      </div>

      <div class="kitchen-advantage-item">
        <div>
          <img src="../gm-images/kitchen/矢量智能对象@2x(1).png" alt="" />
        </div>
        <div>
          <h4>产品标准化趋势</h4>
          <p>政策支持力度如何如何</p>
        </div>
      </div>

      <div class="kitchen-advantage-item">
        <div>
          <img src="../gm-images/kitchen/矢量智能对象 拷贝 2@2x.png" alt="" />
        </div>
        <div>
          <h4>食品安全有保障</h4>
          <p>政策支持力度如何如何</p>
        </div>
      </div>
      <div class="kitchen-advantage-item">
        <div>
          <img src="../gm-images/kitchen/矢量智能对象 拷贝 2@2x.png" alt="" />
        </div>
        <div>
          <h4>企业IT化加速增长</h4>
          <p>政策支持力度如何如何</p>
        </div>
      </div>
    </div>
  </section>

  <!--  beforeAndAfter -->
  <section id="beforeAndAfter">
    <!-- <img src="../gm-images/kitchen/央厨使用前后@2x.png" alt=""> -->
    <div class="container set-padding">
      <div>
        <p>央厨系统使用后</p>
        <p>降低成本，提高盈利</p>
      </div>
      <div>
        <ul>
          <li>
            <p>加工流程可追溯</p>
            <p>生产过程全指导</p>
          </li>
          <li>
            <p>信息实时同步</p>
            <p>生产计划预管理</p>
          </li>
          <li>
            <p>数据永久保留</p>
            <p>人员能效提升快</p>
          </li>
          <li>
            <p>领料投料全管理</p>
            <p>数据清晰透明化</p>
          </li>
        </ul>
      </div>
      <div>
        <img src="../gm-images/kitchen/圈@2x.png" style="width: 260px" alt="" />
      </div>
      <div>
        <ul>
          <li class="bg-gray">
            <p>菜品加工无追溯</p>
            <p>生产流程不规范</p>
          </li>
          <li class="bg-gray">
            <p>信息传递滞后</p>
            <p>生产加工无计划步</p>
          </li>
          <li class="bg-gray">
            <p>纸质单据易丢失</p>
            <p>人员操作效率低</p>
          </li>
          <li class="bg-gray">
            <p>生产品质难监控</p>
            <p>过程数据不精确</p>
          </li>
        </ul>
      </div>
      <div>
        <p>央厨系统使用后</p>
        <p>效率低下，管理混乱</p>
      </div>
    </div>
  </section>
  <!-- End  beforeAndAfter -->

  <!--  costReduction -->
  <section id="costReduction">
    <img src="../gm-images/kitchen/央厨系统降本增效@2x.png" alt="" />
  </section>
  <!-- End  costReduction -->

  <!--  industryDifficult -->
  <section id="industryDifficult">
    <img src="../gm-images/kitchen/央厨行业痛点@2x.png" alt="" />
  </section>
  <!-- End  industryDifficult -->
  <hr class="line-100" style="margin-top: 60px" />

    <div class="container marketing">
      <div class="markint-title wow fadeInUp">
        <h4 class="featurette-heading  featurette-heading-sub" style="margin-top: 45px">
          观麦中央厨房系统赋能价值体系
        </h4>
        <p class="lead">从信息工作到价值生态的进化，中央厨房IT解决方案</p>
      </div>

      <!-- START THE FEATURETTES -->
      <div class="row featurette">
        <div class="f-warp wow fadeInLeft">
          <div class="right-text">
            <p class="rigit-title">代客下单、随时随地1秒录单</p>
            <p class="right-tips right-tips-left">
              图片、文字识别下单，节省人力<br />
              自定义订单导入模版，支持多模版绑定客户，一次性导入<br />
              N张订单客户常用商品提示，快速复制订单，减少出错<br />
              小程序代客下单，一单接一单
            </p>
          </div>
        </div>
        <div class="f-warp flex-right wow fadeInRight">
          <img
            class="featurette-image-w img-responsive"
            src="../gm-images/kitchen/item1.png"
            alt="Generic placeholder image"
            style="width: 376px"
          />
        </div>
      </div>

      <div class="row featurette">
        <div class="f-warp flex-left wow fadeInLeft">
          <img
            class="featurette-image-w img-responsive"
            src="../gm-images/kitchen/item2.png"
            style="width: 311px"
          />
        </div>
        <div class="f-warp wow fadeInRight">
          <div class="right-text">
            <p class="rigit-title">采购计划，只用1秒智能推送</p>
            <p class="right-tips right-tips-right">
              根据商品BOM配比，生成原料采购计划，无须人工计算<br />
              根据各分类库存、在途数量、损耗占比，预测采购计划<br />
              订单、BOM、SOP修改，可同步采购计划，实时调整
            </p>
          </div>
        </div>
      </div>

      <div class="row featurette">
        <div class="f-warp wow fadeInLeft">
          <div class="right-text">
            <p class="rigit-title">高效分拣，增减订单实时同步</p>
            <p class="right-tips right-tips-left">
              异常商品查询修正，分拣中客户增减订单可及时同步分拣<br />
              电脑称重框管理，可按设置不同称重框进行分拣称重
            </p>
          </div>
        </div>
        <div class="f-warp flex-right wow fadeInRight">
          <img
            class="featurette-image-w img-responsive"
            src="../gm-images/kitchen/item3.png"
            style="width: 369px"
          />
        </div>
      </div>

      <div class="row featurette">
        <div class="f-warp flex-left wow fadeInLeft">
          <img
            class="featurette-image-w img-responsive"
            src="../gm-images/kitchen/item4.png"
            alt="Generic placeholder image"
            style="width: 493px"
          />
        </div>
        <div class="f-warp wow fadeInRight">
          <div class="right-text">
            <p class="rigit-title">配送任务，可视化调度提效480%</p>
            <p class="right-tips right-tips-right">
              地图查看商户位置，可视化排线，高效规划司机路线<br />
              一键智能规划，按照商户所在线路，快速分配司机订单<br />
              实时查看司机位置及配送轨迹，严格把控司机路线。
            </p>
          </div>
        </div>
      </div>

      <div class="row featurette">
        <div class="f-warp wow fadeInLeft">
          <div class="right-text">
            <p class="rigit-title">智能定价，每天节约2小时调价</p>
            <p class="right-tips right-tips-left">
              覆盖系统所有成本来源，自动定价自定义设置商品，完<br />
              成商品销售，供应链信息设置、多规格销售、多供应绑<br />
              定、多图展示、商品描述导入、导出、批量修改、分客<br />
              户展示
            </p>
          </div>
        </div>
        <div class="f-warp flex-right wow fadeInRight">
          <img
            class="featurette-image-w img-responsive"
            src="../gm-images/kitchen/item5.png"
            alt="Generic placeholder image"
            style="width: 403px"
          />
        </div>
      </div>

      <div class="row featurette">
        <div class="f-warp flex-left wow fadeInLeft">
          <img
            class="featurette-image-w img-responsive"
            src="../gm-images/kitchen/item6.png"
            style="width: 571px"
          />
        </div>
        <div class="f-warp wow fadeInRight">
          <div class="right-text">
            <p class="rigit-title">车间领料退料管理速度提升50%</p>
            <p class="right-tips right-tips-right">
              根据加工单条码批量领料，按车间领料，动线合理，效率更高<br />
              支持领料单限额领料，控制原料发放,使原料管理精细化、浪费最小化<br />
              先进先出原则批量领料，并指定对应的领料人，原料可追溯<br />
              支持二次领料，退料
            </p>
          </div>
        </div>
      </div>

      <div class="row featurette">
        <div class="f-warp wow fadeInLeft">
          <div class="right-text">
            <p class="rigit-title" style="padding-left: 20px;">合理加工任务，规范日常管理</p>
            <p class="right-tips right-tips-left" style="padding-left: 20px;">
              加工任务可按工艺顺序分批次下达到净菜，热链，熟食<br />等车间
              工位屏/ipad查看加工任务明细如：加工描述，<br />领料数,加工数，打包数
              工位屏记录加工损耗，损耗数<br />据一目了然支持车间一屏和岗位一屏，
              灵活匹配车间<br />移动端操作的任务指令，规避人员频繁走动加工任务，<br />
              完成打包等流程，生成预入库单，一键入库实时查看<br />加工进度，
              完成情况一目了然实现定人定岗，完成各<br />车间
            </p>
          </div>
        </div>
        <div class="f-warp flex-right wow fadeInRight">
          <img
            class="featurette-image-w img-responsive"
            src="../gm-images/kitchen/item7.png"
            style="width: 463px"
          />
        </div>
      </div>

      <div class="row featurette">
        <div class="f-warp flex-left wow fadeInLeft">
          <img
            class="featurette-image-w img-responsive"
            src="../gm-images/kitchen/item8.png"
            alt="Generic placeholder image"
            style="width: 448px"
          />
        </div>
        <div class="f-warp wow fadeInRight">
          <div class="right-text">
            <p class="rigit-title">多样化SOP工艺管理，流转顺畅%</p>
            <p class="right-tips right-tips-right">
              持在终端下达车间，产线，工位加工任务，工位屏实时<br />
              更新同步支持多元化的加工单据呈现方式，按工艺，车间，<br />
              产品，客户均可生成加工单根据产品设置SOP工艺流转，<br />
              在各工艺环节的领料及产出实现闭环，做到精细化管理<br />
              加工单绑定领料码，快速领料补料
            </p>
          </div>
        </div>
      </div>

      <div class="row featurette">
        <div class="f-warp wow fadeInLeft">
          <div class="right-text">
            <p class="rigit-title">生产报表一秒生成，精细化管理</p>
            <p class="right-tips right-tips-left">
              可查看各阶段出成率、用料金额、平均成本， 细到<br />
              每个工艺出成率通过损耗数据，人均产能作为KPI考核机制，<br />
              调动人员积极性车间数据精细化，盈亏平衡点清晰可见<br />
              实际成本、参考成本实时对比，损耗率实时更新，修正数据<br />
              根据损耗反推定价、BOM的合理性，不损失一分钱
            </p>
          </div>
        </div>
        <div class="f-warp flex-right wow fadeInRight">
          <img
            class="featurette-image-w img-responsive"
            src="../gm-images/kitchen/item9.png"
            alt="Generic placeholder image"
            style="width: 330px"
          />
        </div>
      </div>

      <div class="row featurette">
        <div class="f-warp flex-left wow fadeInLeft">
          <img
            class="featurette-image-w img-responsive"
            src="../gm-images/kitchen/item10.png"
            style="width: 498px"
          />
        </div>
        <div class="f-warp wow fadeInRight">
          <div class="right-text">
            <p class="rigit-title">调拨管理，效率提升60%</p>
            <p class="right-tips right-tips-right">
              支持建立仓库货位，商品可设置绑定货位<br />
              支持商品进行仓内移库，解决用户日常盘货移库需求<br />
              支持查询仓内移库记录，记录移库路径，提高货位管理效率
            </p>
          </div>
        </div>
      </div>
    </div>
  <!--  Workflow -->
  <section id="workflow">
    <img src="../gm-images/kitchen/加工中心@2x.png" alt="" />
  </section>
  <!-- End  Workflow -->

  <!--  Workflow -->
  <section id="kitchenShow">
    <img src="../gm-images/kitchen/5fa8b7b4b1e87_5fa8b7b5ab784.png" alt="" />
  </section>
  <!-- End  Workflow -->
  <script>
    $(".wow").attr({
      "data-wow-duration": "1000ms",
      "data-wow-delay": "0.36s",
      "data-wow-offset": 0,
      // 'data-wow-iteration':'infinite'
    });

    wow = new WOW({
      animateClass: "animated",
      offset: 1000,
      callback: function (box) {
        console.log("WOW: animating <" + box.tagName.toLowerCase() + ">");
      },
    });
    wow.init();
  </script>
  <%- include('../common/footer.html'); %>
</body>
