<%- include('../common/header.html'); %>

<link href="../gm-css/open-platform.css" rel="stylesheet" />
<body>
  <!-- 导航 -->
  <%- include('../common/nav-white.html'); %>

  <!--  OpenPlatformBanner -->
  <section id="OpenPlatformBanner">
    <!-- <div class="banner-text"></div>
      <div><button class="btn btn-primary banner-btn">免费试用</button></div> -->
    <div class="container">
      <div class="row footer-top">
        <div class="col-md-6 col-lg-6 fadeInLeft wow">
          <h1>观麦开放平台</h1>
          <div class="banner-text">
            <p style="padding: 22px 0 35px 0px">
              定义生鲜配送生态圈，合作共赢，领跑食材配送<br />
              企业SaaS服务
            </p>
          </div>
          <div>
            <button class="btn btn-primary banner-btn">免费试用 &raquo;</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <!-- <img class="platform-img" src="../gm-images/open-platform/开放平台@2x.png" alt="">    -->
          <img
            class="platform-img"
            src="../gm-images/open-platform/openicon.gif"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- End  OpenPlatformBanner -->

  <section class="container" style="height: 58px">
    <h1 class="op-module-title">可对接业务</h1>
  </section>

  <!-- businesInterface -->
  <section id="businesInterface" class="container">
    <p><a href="">接口文档详情</a></p>
    <div>
      <ul>
        <li>
          <span
            ><img src="../gm-images/open-platform/图层1@2x.png" alt=""
          /></span>
          <span>有赞连锁</span>
        </li>
        <li>
          <span
            ><img src="../gm-images/open-platform/图层2@2x.png" alt=""
          /></span>
          <span>用友T+</span>
        </li>
        <li>
          <span
            ><img src="../gm-images/open-platform/图层3@2x.png" alt=""
          /></span>
          <span>第三方服务</span>
        </li>
        <li>
          <span
            ><img src="../gm-images/open-platform/图层4@2x.png" alt=""
          /></span>
          <span>金蝶K3</span>
        </li>
        <li>
          <span
            ><img src="../gm-images/open-platform/下载@2x.png" alt=""
          /></span>
          <span>更多敬请期待</span>
        </li>
      </ul>
    </div>
  </section>
  <!-- end businesInterface -->

  <!-- dockingBusiness -->
  <section id="dockingBusiness">
    <section class="container">
      <h1 class="op-module-title">接入流程指引</h1>
    </section>
    <div class="container">
      <ul>
        <li>
          <span
            ><img src="../gm-images/open-platform/组1@2x(1).png" alt=""
          /></span>
          <span>提交申请</span>
          <span>提交接入申请，1个工作日与您联系</span>
          <span
            ><img src="../gm-images/open-platform/组1@2x.png" alt=""
          /></span>
        </li>
        <li>
          <span
            ><img src="../gm-images/open-platform/组1@2x(2).png" alt=""
          /></span>
          <span>认证授权</span>
          <span>合同签订确认后3日 内完成认证授权</span>
          <span
            ><img src="../gm-images/open-platform/组1@2x.png" alt=""
          /></span>
        </li>
        <li>
          <span
            ><img src="../gm-images/open-platform/组1@2x(3).png" alt=""
          /></span>
          <span>接口开发</span>
          <span>阅读接口文档，进入开发</span>
          <span
            ><img src="../gm-images/open-platform/组1@2x.png" alt=""
          /></span>
        </li>
        <li>
          <span
            ><img src="../gm-images/open-platform/组1@2x(4).png" alt=""
          /></span>
          <span>联调测试</span>
          <span>根据申请的测试站点，完成联调测试</span>
          <span
            ><img src="../gm-images/open-platform/组1@2x.png" alt=""
          /></span>
        </li>
        <li>
          <span
            ><img src="../gm-images/open-platform/103258.png" alt=""
          /></span>
          <span>正式上线</span>
          <span>完成开发后正式上线</span>
          <span
            ><img src="../gm-images/open-platform/组1@2x.png" alt=""
          /></span>
        </li>
      </ul>
    </div>
  </section>
  <!-- end dockingBusiness -->

  <section class="container">
    <h1 class="op-module-title" style="margin-top: 46px">接入案例展示</h1>
  </section>

  <!-- cases -->
  <section id="cases" class="container container_tank">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="case-panel">
          <span
            ><img
              onload=""
              src="../gm-images/open-platform/case0000.png"
              alt=""
          /></span>
          <span
            ><img
              src="../gm-images/open-platform/图层12@2x.png"
              alt=""
            />果立方</span
          >
          <span>
            果立方是由君茂资本领投的FAF模式的生鲜门店品牌，通过集装箱门店在当地发展至知名品牌观麦系统和有赞连锁的对接销
          </span>
          <span
            ><a href=""
              >了解更多<i
                ><img
                  src="../gm-images/open-platform/组1@2x.png"
                  alt="" /></i></a
          ></span>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="case-panel">
          <span
            ><img
              onload=""
              src="../gm-images/open-platform/case0000.png"
              alt=""
          /></span>
          <span
            ><img
              src="../gm-images/open-platform/图层13@2x.png"
              alt=""
            />浙江明辉</span
          >
          <span>
            浙江明辉蔬果配送股份有限公司是浙江省生鲜配送龙头企业，配送企业300余家，所供人员近20万余人。
          </span>
          <span
            ><a href=""
              >了解更多<i
                ><img
                  src="../gm-images/open-platform/组1@2x.png"
                  alt="" /></i></a
          ></span>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="case-panel">
          <span
            ><img
              onload=""
              src="../gm-images/open-platform/case0000.png"
              alt=""
          /></span>
          <span
            ><img
              src="../gm-images/open-platform/图层12@2x.png"
              alt=""
            />果立方</span
          >
          <span>
            果立方是由君茂资本领投的FAF模式的生鲜门店品牌，通过集装箱门店在当地发展至知名品牌观麦系统和有赞连锁的对接销
          </span>
          <span
            ><a href=""
              >了解更多<i
                ><img
                  src="../gm-images/open-platform/组1@2x.png"
                  alt="" /></i></a
          ></span>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="case-panel">
          <span
            ><img
              onload=""
              src="../gm-images/open-platform/case0000.png"
              alt=""
          /></span>
          <span
            ><img
              src="../gm-images/open-platform/图层13@2x.png"
              alt=""
            />浙江明辉</span
          >
          <span>
            浙江明辉蔬果配送股份有限公司是浙江省生鲜配送龙头企业，配送企业300余家，所供人员近20万余人。
          </span>
          <span
            ><a href=""
              >了解更多<i
                ><img
                  src="../gm-images/open-platform/组1@2x.png"
                  alt="" /></i></a
          ></span>
        </div>
      </div>
    </div>
  </section>
  <!-- end cases -->

  <section id="Ecosphere">
    <img src="../gm-images/open-platform/组1@2x(6).png" alt="" />
    <div><a href="">进入文档中心</a> </div>
  </section>
  <script>
    $(".wow").attr({
      "data-wow-duration": "500ms",
      "data-wow-delay": "0.3s",
      "data-wow-offset": 0,
      // 'data-wow-iteration':'infinite'
    });

    wow = new WOW({
      animateClass: "animated",
      offset: 1000,
      callback: function (box) {
        console.log("WOW: animating <" + box.tagName.toLowerCase() + ">");
      },
    });
    wow.init();
  </script>

  <%- include('../common/footer.html'); %>
</body>
