<%- include('../common/header.html'); %>

<link href="../gm-css/retail.css" rel="stylesheet" />
<body>
  <!-- 导航 -->
  <%- include('../common/nav.html'); %>

  <!--  retail -->
  <section id="retail">
    <div class="container">
      <!-- <div class="banner-text"></div>
        <div><div class="btn btn-primary banner-btn">免费试用</div></div>
       -->

      <div class="row footer-top">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-5 col-lg-5 wow fadeInLeft">
          <h1>观麦新零售SAAS系统</h1>
          <div class="banner-text">
            <p>全渠道一体化经营工具，贯穿整个生意环节</p>
            <p>实现生鲜全渠道拓客和供应链全流程数字化管理</p>
          </div>
          <div>
            <div
              class="btn btn-default-header btn-default1"
              style="font-weight: 300"
            >
              免费试用 &raquo;
            </div>
          </div>
        </div>
        <div class="col-md-7 col-lg-7 fadeInRight">
          <img
            class="platform-img"
            src="../gm-images/retail/retail_banner.gif"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- End  retail -->

  <!--  whatIsRetail -->
  <section id="whatIsRetail">
    <div class="container">
      <img src="../gm-images/retail/什么是生鲜新零售@2x.png" alt="" />
    </div>
  </section>
  <!-- End  whatIsRetail -->

  <!--  doRetail -->
  <section id="doRetail">
    <div class="container" style="width: 100%">
      <img src="../gm-images/retail/哪些企业适合做生鲜新零售@2x.png" alt="" />
    </div>
  </section>
  <!-- End  doRetail -->

  <div class="container do-retail-module-title">
    <h1 style="font-weight: 400;">生鲜新零售痛点</h1>
    <div>零售客户拓客成本高，留存低，供应链损耗大，毛利率低</div>
  </div>

  <!-- retailDifficult -->
  <section id="retailDifficult">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 retail-difficult-item">
          <div>
            <span
              ><img src="../gm-images/retail/组 2@2x(12).png" alt=""
            /></span>
            <span>商品非标准化</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 retail-difficult-item">
          <div>
            <span
              ><img src="../gm-images/retail/矢量智能对象@2x(3).png" alt=""
            /></span>
            <span>拓展客户难</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 retail-difficult-item">
          <div>
            <span
              ><img src="../gm-images/retail/矢量智能对象@2x.png" alt=""
            /></span>
            <span>合伙人流失</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 retail-difficult-item">
          <div>
            <span
              ><img src="../gm-images/retail/矢量智能对象@2x(1).png" alt=""
            /></span>
            <span>人力堆积</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 retail-difficult-item">
          <div>
            <span
              ><img src="../gm-images/retail/矢量智能对象@2x(2).png" alt=""
            /></span>
            <span>效率低下</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 retail-difficult-item">
          <div>
            <span
              ><img src="../gm-images/retail/矢量智能对象@2x(4).png" alt=""
            /></span>
            <span>运营繁重</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end  retailDifficult -->

  <!-- retailPossibleTarger -->
  <section id="retailPossibleTarger">
    <img src="../gm-images/retail/降本增效@2x.png" alt="" />
  </section>
  <!-- end retailPossibleTarger -->

  <!-- retailSystem -->
  <section id="retailSystem">
    <div class="retail-system-item">
      <div style="width: 100%; text-align: center; margin: 80px 0; clear: both">
        <h1 style="font-size: 34px; color: #3b426b; font-weight: 400">
          观麦新零售系统赋能价值体系
        </h1>
        <p style="text-align: center; font-size: 18px; color: #93949d">
          从信息工作到价值生态的进化，生鲜新零售IT解决方案
        </p>
      </div>
      <div class="container">
        <div class="retail-system-item-l retail-system-item-img">
          <img src="../gm-images/retail/组 2@2x(1).png" alt="" />
        </div>
        <div class="retail-system-item-r retail-system-item-content">
          <h2>会员小程序商城</h2>
          <ul>
            <li>特点：新零售专版，B端C端客户合理分区</li>
            <li>
              营销：优惠券，限时抢购，邀请返券，会员中心，营销功能，应有尽有
            </li>
            <li>样式：自定义商城首页，云banner图库，多营销模块自定义</li>
            <li>性能：高度匹配各类手机，确保购物流程顺畅， 购物体验良好</li>
          </ul>
          <div>
            <div>免费试用</div>
            <div>了解详情</div>
          </div>
        </div>
      </div>
    </div>

    <div class="retail-system-item">
      <div class="container">
        <div
          class="retail-system-item-l retail-system-item-content tank-text-left"
        >
          <h2>营销功能-优惠券</h2>
          <ul>
            <li>抢占微信十亿流量曝光</li>
            <li>帮助商家“多快好省”地开展运营推广工作</li>
            <li>快速实现产品促销、客单价提升、用户拉新和留存提升</li>
            <li>无需增加时间成本、消费者乐在其中</li>
          </ul>
          <div>
            <div>免费试用</div>
            <div>了解详情</div>
          </div>
        </div>
        <div class="retail-system-item-r retail-system-item-img">
          <img src="../gm-images/retail/组 2@2x(2).png" alt="" />
        </div>
      </div>
    </div>

    <div class="retail-system-item">
      <div class="container">
        <div class="retail-system-item-l retail-system-item-img">
          <img src="../gm-images/retail/组 2@2x(3).png" alt="" />
        </div>
        <div class="retail-system-item-r retail-system-item-content">
          <h2>营销功能-限时抢购</h2>
          <ul>
            <li>带动高活跃度转化</li>
            <li>新客拉新，老客促销活动的利器</li>
            <li>营销紧张感和稀缺感，刺激客户购买欲望</li>
            <li>一键设置，可根据运营需求随时展开活动</li>
          </ul>
          <div>
            <div>免费试用</div>
            <div>了解详情</div>
          </div>
        </div>
      </div>
    </div>

    <div class="retail-system-item">
      <div class="container">
        <div
          class="retail-system-item-l retail-system-item-content tank-text-left"
        >
          <h2>营销功能-邀请返券</h2>
          <ul>
            <li>裂变引流，病毒式传播</li>
            <li>线下流量通过社区分享引入线上，营销成本低，转化率高</li>
            <li>分享传播，让你的顾客带来更多的顾客</li>
            <li>让新客户在互动中逐步成为店铺的忠实vip</li>
          </ul>
          <div>
            <div>免费试用</div>
            <div>了解详情</div>
          </div>
        </div>
        <div class="retail-system-item-r retail-system-item-img">
          <img src="../gm-images/retail/组 2@2x(4).png" alt="" />
        </div>
      </div>
    </div>

    <div class="retail-system-item">
      <div class="container">
        <div class="retail-system-item-l retail-system-item-img">
          <img src="../gm-images/retail/组 2@2x(7).png" alt="" />
        </div>
        <div class="retail-system-item-r retail-system-item-content">
          <h2>营销功能-会员中心</h2>
          <ul>
            <li>
              会员、季卡、年卡、绑定客户消费会员折扣、会员优惠、专属优惠券
            </li>
            <li>支持会员权益配置，多元化感受会员优势，营造会员优越感</li>
            <li>独有会员体验，提升会员忠诚度</li>
            <li>会员全周期管理，精细化运营提高复购</li>
          </ul>
          <div>
            <div>免费试用</div>
            <div>了解详情</div>
          </div>
        </div>
      </div>
    </div>

    <div class="retail-system-item">
      <div class="container">
        <div
          class="retail-system-item-l retail-system-item-content tank-text-left"
        >
          <h2>合伙人-快速拓客</h2>
          <ul>
            <li>一键生成合伙人专属二维码海报</li>
            <li>快速邀约客户下单、操作方便、随时拓客</li>
            <li>构建完整的分销体系，让人人都是商家的分销员</li>
            <li>全面满足商家全场景营销需求</li>
          </ul>
          <div>
            <div>免费试用</div>
            <div>了解详情</div>
          </div>
        </div>
        <div class="retail-system-item-r retail-system-item-img">
          <img src="../gm-images/retail/组 2@2x(5).png" alt="" />
        </div>
      </div>
    </div>

    <div class="retail-system-item">
      <div class="container">
        <div class="retail-system-item-l retail-system-item-img">
          <img src="../gm-images/retail/组 2@2x(8).png" alt="" />
        </div>
        <div class="retail-system-item-r retail-system-item-content">
          <h2>合伙人-会员增长</h2>
          <ul>
            <li>邀请引流，实现会员裂变增长</li>
            <li>合伙人分成，客户越多，合伙人越high</li>
            <li>带动商家业绩高效增长</li>
            <li>完善的会员管理机制，深度沉淀客户</li>
          </ul>
          <div>
            <div>免费试用</div>
            <div>了解详情</div>
          </div>
        </div>
      </div>
    </div>

    <div class="retail-system-item">
      <div class="container">
        <div
          class="retail-system-item-l retail-system-item-content tank-text-left"
        >
          <h2>合伙人-数据查询</h2>
          <ul>
            <li>合伙人报表，邀请，订单、佣金、余额数据一目了然</li>
            <li>每一笔分成清晰来源，轻松结算</li>
            <li>多角度、全方位的经营分析</li>
            <li>数据驱动营销决策促进业绩增长</li>
          </ul>
          <div>
            <div>免费试用</div>
            <div>了解详情</div>
          </div>
        </div>
        <div class="retail-system-item-r retail-system-item-img">
          <img src="../gm-images/retail/组 2@2x(6).png" alt="" />
        </div>
      </div>
    </div>

    <div class="retail-system-item">
      <div class="container">
        <div class="retail-system-item-l retail-system-item-img">
          <img src="../gm-images/retail/组 2@2x(9).png" alt="" />
        </div>
        <div class="retail-system-item-r retail-system-item-content">
          <h2>合伙人-佣金体现</h2>
          <ul>
            <li>后台查看提成分成</li>
            <li>佣金提成数据清晰可查，方便与合伙人返佣核账</li>
            <li>业务关联数据统计，实时信息交流</li>
            <li>佣金快速到账，增强合伙人粘性</li>
          </ul>
          <div>
            <div>免费试用</div>
            <div>了解详情</div>
          </div>
        </div>
      </div>
    </div>

    <div class="retail-system-item">
      <div class="container">
        <div
          class="retail-system-item-l retail-system-item-content tank-text-left"
        >
          <h2>合伙人-后台管理端</h2>
          <ul>
            <li>会员管理：完整的会员体系能够提升会员消费频次和客单价</li>
            <li>
              会员折扣：会员运费、会员专属优惠券多个维度全方位体现会员尊贵感
            </li>
            <li>打造区别于同行的品牌差异，提升客户留存</li>
            <li></li>
          </ul>
          <div>
            <div>免费试用</div>
            <div>了解详情</div>
          </div>
        </div>
        <div class="retail-system-item-r retail-system-item-img">
          <img
            class="retail-system-item-r-img-10"
            src="../gm-images/retail/组 2@2x(10).png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="retail-system-item">
      <div class="container">
        <div class="retail-system-item-l retail-system-item-img">
          <img
            class="retail-system-item-r-img-11"
            src="../gm-images/retail/组 2@2x(11).png"
            alt=""
          />
        </div>
        <div class="retail-system-item-r retail-system-item-content">
          <h2>合伙人-合伙人管理后台</h2>
          <ul>
            <li>合伙人管理：合伙人的精细化运营是社区生鲜盈利的必要基础</li>
            <li>合伙人设置：合伙人审核、合伙人返佣设置、结算、提现、等级</li>
            <li>
              设置合伙人门槛、加强合伙人管理、增加合伙人受益、加深品牌认同
            </li>
            <li></li>
          </ul>
          <div>
            <div>免费试用</div>
            <div>了解详情</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end retailSystem -->

  <!-- retailSolution -->
  <section class="resolveOuter" >
  <div style="width: 100%; text-align: center; margin: 80px 0; clear: both">
    <h1 style="font-size: 34px; color: #3b426b; font-weight: 400">
      观麦社区生鲜解决方案
    </h1>
    <p style="text-align: center; font-size: 18px; color: #93949d">
      打造社区生鲜营销闭环，渠道聚合，让更多人帮你卖货
    </p>
  </div>
  <img src="../gm-images/retail/解决方案图.png" alt="" />
  </section>
  <!-- end retailSolution -->

  <script>
    $(".wow").attr({
      "data-wow-duration": "1000ms",
      "data-wow-delay": "0.36s",
      "data-wow-offset": 0,
      // 'data-wow-iteration':'infinite'
    });

    wow = new WOW({
      animateClass: "animated",
      offset: 1000,
      callback: function (box) {
        console.log("WOW: animating <" + box.tagName.toLowerCase() + ">");
      },
    });
    wow.init();
  </script>
  <%- include('../common/footer.html'); %>
</body>
