<div class="navbar-wrapper navbar-wrapper-white">
    <div class="container">
        <nav class="navbar navbar-default navbar-gm navbar-whtie">
            <div class="container">
                <div class="navbar-header">
                    <img src="../gm-images/logo-blue.png" class="logo">
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                     <ul class="nav navbar-nav">
                        <li class='<% if (gm_active == "index") { %> active-gm <% } %>'><a href="/">首页</a></li>
                        <li class='<% if (gm_active == "kitchen") { %> active-gm <% } %>' ><a href="/kitchen">中央厨房</a></li>
                        <li class='<% if (gm_active == "charge") { %> active-gm <% } %>' class="nav-system"><a href="/charge">了解系统</a></li>
                        <li class='<% if (gm_active == "open-platform") { %> active-gm <% } %>' ><a href="/open-platform">开放平台</a></li>
                        <li class='<% if (gm_active == "retail") { %> active-gm <% } %>' ><a href="/retail">新零售</a></li>
                        <li class='<% if (gm_active == "class-center") { %> active-gm <% } %>' ><a href="/class-center">课程中心</a></li>
                        <li class='<% if (gm_active == "case") { %> active-gm <% } %>'><a href="/case">合作案例</a></li>
                        <li class='<% if (gm_active == "information") { %> active-gm <% } %>'><a href="/information">观麦资讯</a></li>
                        <li class='<% if (gm_active == "about_us") { %> active-gm <% } %>'><a href="/about_us">关于我们</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <button type="submit" class="btn btn-default btn-white">立即登录</button>
                        <button type="submit" class="btn btn-default btn-white">免费试用</button>
                    </form>
                </div>
            </div>
        </nav>

    </div>
</div>
