body {
  /* padding-bottom: 40px; */
  color: #5a5a5a;
}
.btn-default {
  background: none;
  color: #d7e1ff;
  border-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 20px;
  height: 40px;
  width: 143px;
  font-size: 18px;
  line-height: 40px;
  padding: 0 12px;
  font-weight: normal;
}
/* 头部的按钮 */
.btn-default-header {
  background: none;
  color: #d7e1ff;
  border-color: #d7e1ff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  /* height: 40px;
  width: 143px; */
  font-size: 16px;
  line-height: 31px;
  padding: 0 12px;
  font-weight: 400;
}
.btn-default-header-white:hover{
  background: #3860f4 !important;
  color: white !important;
  border-color:  #3860f4 !important;
}
.btn-default-header:hover{
  background: #fff ;
  color: #3860f4 ;
  border-color: white ;
}
/* 其余按钮 */
.btn-default.btn-default1:hover {
  background: #fff !important;
  color: #3860f4 !important;
  border-color: white !important;
}
.btn-default:hover{
  background: #3860f4 !important;
  color: white !important;
  border-color:  #3860f4 !important;
}
.btn-blue {
  background: #3860f4;
  color: white;
}
.btn-white {
  background: white;
  color: #3860f4;
  border-color: #3860f4;
}

#navbar {
  padding-top: 10px;
}
#navbar a:hover {
  /* opacity: 0.8; */
}
.navbar-wrapper-white {
  background: white !important;
}
.navbar-header {
  width: 150px;
  min-height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.logo {
  width: 90px;
}
.navbar-gm {
  color: white;
  background: #3860f4;
  border: none;
}
.navbar-whtie {
  background: white;
}
.navbar-nav{
  font-size: 18px;
  font-weight: normal;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-whtie .navbar-nav > li > a {
  color: #4a4b67;
}
.active-gm {
  color: #ffffff !important;
  background-color: none;
  background: none;
  border-bottom: 2px solid #ffffff;
}

.navbar-whtie .active-gm {
  border-bottom: 2px solid #3860f4;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-header {
  display: flex;
  align-items: center;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: #3860f4;
  font-size: 15px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container  .navbar-collapse .nav li a:visited{
  /* width: auto; */
  /* color: white ; */
}
.navposition{
  position: relative;
}
#navbar-navigation {
  position:absolute;
  top: 62px;
  left: 30px;
  width: 96%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #ebf0fc;
  padding: 30px 90px;
  padding-bottom: 0px;
  display: none;
  z-index: 999;
}
#navbar-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#navbar-navigation ul li {
  width: 25%;
  margin: 2% 0;

}
.bottomBorder{
  border-bottom: 2px solid #ebf0fc;
}
#navbar-navigation ul li p{
  margin: 20px 0;
  font-size: 17px;
	font-weight: 400;
	color: #6c7f9d;

}
.navbar-navigation-headerText{
  font-size: 18px;
	font-weight: 400;
	color: #1e273c;

}
#navbar-navigation ul li img{
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-right: 5px;
}
.marginRight{
  margin-right: 5% !important;
}
