/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.container-gm {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.featurette-image {
  width: 488px;
  position: relative;
  top: 114px;
}
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 675px;
  background-color: #3860f4;
}

.bg-gray {
  background-color: rgba(245, 247, 253, 1) !important;
}
.carousel .item .active {
  height: 500px;
  background-color: #3860f4;
}
.carousel-control.left,
.carousel-control.right {
  background: none;
}
.carousel-control {
  width: 8% !important;
  margin-top: 10%;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
.lead {
  color: #d7e1ff;
  font-weight: normal;
}

.banner-bottm {
  margin: 0px auto;
  position: relative;
  z-index: 2;
  top: -56px;
  width: 90%;
  background: linear-gradient(180deg, #e1edfc, #ffffff);
  /*box-sizing: border-box; */
  padding: 10px 0px;
  border: 1px solid #e1e6f0;
  border-radius: 1px;
  display: flex;
  justify-content: space-between;
}

/* 首页三个框框 */
.b-item-banner {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
.banner-right-text {
  /* margin-left: 20px; */
  margin: 7px 0px 3px 20px;
  line-height: 10px;
  padding-top: 10px;
}
.banner-rigit-title {
  font-size: 18px;
  color: #374567;
  font-weight: 400;
  /* margin: 0; */
}
.banner-right-tips {
  font-size: 15px;
  color: #93949d;
  line-height: 20px;
  font-weight: normal;
}

.b-item {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
.right-text {
  margin-left: 20px;
  line-height: 10px;
  padding-top: 10px;
}
.rigit-title {
  font-size: 26px;
  color: #374567;
  font-weight: 400;
  margin-bottom: 18px;
}
.rigit-title-22 {
  font-size: 22px;
  /* margin-top: 20px; */
}
.rigit-title-15 {
  font-size: 15px;
  margin-top: 20px;
}
.right-tips {
  font-size: 15px;
  color: #93949d;
  line-height: 25px;
  margin-bottom: 39px;
  font-weight: 400;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.markint-title {
  width: 100%;
  text-align: center;
  margin-bottom: 48px;
}
.markint-title .featurette-heading {
  color: #3b426b;
  font-size: 34px;
}
.markint-title .lead {
  color: #93949d;
  font-size: 18px;
  font-weight: 400;
  padding-top: 5px;
}
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette {
  width: 93%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.f-warp {
  width: 50%;
  height: 400px;
  display: flex;
  /*align-items: center; */
  flex-direction: column;
  justify-content: center;
}
.featurette-divider {
  margin-top: 40px; /* Space out the Bootstrap <hr> more */
}
.featurette-image-w {
  width: 400px;
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1px;
}
.featurette-heading-sub {
  font-weight: 400;
}
.flex-right {
  align-items: flex-end;
  margin-bottom: 10px;
}
.flex-left {
  align-items: flex-start;
}

.featurette .right-text {
  width: 400px;
  padding-left: 0px;
  margin-left: 0px;
}

.featurette .btn-area {
  /* margin-top: 30px; */
  margin-bottom: 0px;
}

/*------------------------------------------------
场景
*/
.gm-screen {
  width: 100%;
  height: 558px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 33px;
  position: relative;
}

.gm-s-item {
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  text-align: center;
  box-sizing: border-box;
}

.border-left {
  border-left: 2px solid #f1f0f0;
}
.border-right {
  border-right: 2px solid #f1f0f0;
}
.border-top {
  border-top: 2px solid #f1f0f0;
}

.border-bottom {
  border-bottom: 2px solid #f1f0f0;
}
.border-bottom2 {
  border-bottom: 2px solid #fff;
}
.gm-screen-mask{
  width: 25%;
  height: 50%;
  box-shadow: 0px 3px 8px 0px #e4e6f2;
  border-bottom: 2px solid #3860f4;
  position:absolute;
  /* top: 0;
  left: 0; */
  display: none;
}
.gm-s-item:hover {
  /* background: #ffffff;
  box-shadow: 0px 3px 8px 0px #e4e6f2;
  border-bottom: 2px solid #3860f4; */
}
.gs-active {
  background: #ffffff;
  box-shadow: 0px 3px 8px 0px #e4e6f2;
  border-bottom: 2px solid #3860f4;
}
.screen-icon {
  width: 45px;
  margin-bottom: 20px;
}

.gm-s-item .right-text {
  margin-left: 0px;
}
.container-gm-slider2 {
  background: white;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
}

.container-gm-slider2 .gms2-item {
  width: 30%;
  overflow: auto;
  box-shadow: 0px 3px 8px 0px #e4e6f2;
}

.flex-middle {
  padding: 20px 0px;
  height: auto !important;
}

.cars-img-avatar {
  width: 100%;
  height: 130px;
  display: block;
}
.car-desc {
  width: 80%;
  text-align: center;
  color: #747474;
  font-size: 15px;
  margin: 0px 27px 20px 27px;
  text-align: left;
  /* 单行文本溢出显示省略号 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cars-img-logo {
  width: 79px;
  height: 23px;
  margin: 14px 0 19px 27px;
  display: block;
}

.gm3-screen {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gms3-item {
  width: 30%;
  overflow: auto;
  box-shadow: 0px 3px 8px 0px #e4e6f2;
  margin-bottom: 30px;
}

.bg-good {
  width: 100%;
  height: 400px;
  /*background: url(../gm-images/index/bg-good.png);*/
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin: 60px 0px;
  position: relative;
  overflow: hidden;
}
.bg-good-img {
  position: absolute;
  width: 110%;
  height: 110%;
  object-fit: cover;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.bg-good-content {
  position: absolute;
  z-index: 2;
  width: 280px;
  left: 50%;
  margin-left: -140px;
}
.bg-good-img:hover {
  transform: scale(1.25);
}
@keyframes animatedBackground {
  from {
    background-size: 100%;
  }
  to {
    background-position: 80%;
  }
}

.bg-good-content:hover + .bg-good-img {
  transform: scale(1.25);
  /* animation: mymove 0.8s;
  -webkit-animation: mymove 0.8s; 
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  -webkit-animation: mymove 0.8s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out; */
}
@keyframes mymove {
  0% {
    transform: scale(1); /*开始为原始大小*/
  }
  75% {
    transform: scale(1.3);
  }
}

@-webkit-keyframes mymove {
  0% {
    transform: scale(1); /*开始为原始大小*/
  }
  75% {
    transform: scale(1.3);
  }
}

.btn-big {
  width: 236px;
  height: 57px;
  line-height: 57px;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 400;
  display: block;
  margin: 0px auto;
}
.btn-tank:hover {
  background-color: #3860f4;
  color: white;
}
.btn-bigger {
  width: 283px;
  height: 60px;
  line-height: 60px;
  margin-top: 30px;
}
.btn-bigger-hover:hover {
  background: #fff !important;
  color: #3860f4 !important;
  border-color: #3860f4 !important;
}
.btn-scale-hover:hover {
  transform: scale(1.03);
  box-shadow: 0px 3px 8px 0px #babcc5;
  transition: transform 1s;
}

.gm4-screen {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gm4-left {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.gm4-right {
  width: 40%;
  text-align: center;
}
.gms4-item {
  text-align: center;
  padding: 50px 0px;
}
.gms4-num {
  font-size: 55px;
  font-weight: lighter;
  color: #3b6bf9;
}
.gms4-desc {
  font-size: 27px;
  font-weight: 400;
}
.gm4-right h1 {
  font-size: 40px;
  font-weight: normal;
  padding: 20px 0px;
}
.gm4-tags {
  color: #78777a;
  margin-top: 30px;
  font-size: 17px;
}
.container-gm-case-slider {
  display: flex;
  justify-content: space-between;
}
.container-gm-case-slider .case-item {
  width: 245px;
}

.bg-none {
  background: none !important;
}
.case-banner {
  width: 100%;
  height: 550px !important;
  object-fit: cover;
}
.case-item {
  height: 361px !important;
  box-shadow: 0px 3px 8px 0px #e4e6f2;
  text-align: center;
  padding: 20px 0px;
  box-sizing: border-box;
  background: white;
  margin: 0px 10px;
  height: 360px;
}
.case-item-bottom {
  height: auto !important;
  box-shadow: 0px 3px 8px 0px #e4e6f2;
  text-align: center;
  padding: 20px 0px;
  box-sizing: border-box;
  background: white;
  margin: 0px 10px;
  height: 360px;
}
.case-logo-outer {
  width: 135px;
  height: 135px;
  border: solid 1px #eaebee;
  margin: 12px auto;
  border-radius: 50%;
  overflow: hidden;
}
.case-logo {
  width: 100%;
  height: 100%;
  /* margin: 12px auto;
  display: block; */
}
.case-item-bottom-logo {
  width: 107px;
  height: 105px;
  border: solid 1px #eaebee;
  overflow: hidden;
  margin: 12px auto;
  border-radius: 50%;
}
.case-title {
  color: #333333;
  font-size: 16px;
}
.case-desc {
  width: 80%;
  height: 36px;
  margin: 20px auto;
  margin-top: 15px;
  color: #333333;
  font-size: 13px;
  max-height: 60px;

  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.case-catename {
  width: 70px;
  height: 22px;
  border: 1px solid #eeeeee;
  text-align: center;
  margin: 10px auto 0;
  color: #b2b2b2;
}
.btn-case {
  /* width: 70%; */
  width: 136px;
  height: 33px;
  line-height: 33px;
  border-color: #666;
  color: #666;
  margin-right: 0px;
  font-size: 14px;
}
.case-tips {
  color: #374567;
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding: 70px 0px;
}
.all-cases {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.item-split-6 {
  width: 18%;
  margin-bottom: 30px;
  box-sizing: border-box;
  height: 308px;
}
.container-gm-case-slider {
  padding: 0px 50px;
}
.case-cars-title {
  text-align: center;
  color: #374567;
  font-size: 34px;
  margin-bottom: 20px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    background: #3860f4;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 136px;
  }
  .carousel-control {
    width: 8% !important;
  }
}
@media (max-width: 1443px) {
  .carousel-control {
    width: 3% !important;
  }
}
@media (min-width: 1334px) {
  .carousel-control {
    width: 25% !important;
  }
}

/* 优势介绍模块 */
#superiority {
  display: flex;
  justify-content: space-between;
  height: 545px;
}
/* 优势介绍的数字 */
.superiorityNum {
  font-size: 62px;
  font-weight: 500;
  font-style: italic;
  line-height: 33px;
  color: #d2d2d2;
}
/* 优势介绍的标题 */
.superiorityTitle {
  font-size: 30px;
  font-weight: 400;
  color: #3860f4;
}
/* 优势介绍的0几的内容 */
.superiorityContent {
  font-size: 15px;
  font-weight: normal;
  color: #747474;
}
/* 数字和标题分开 */
.superiorityTitleHeader {
  display: flex;
  justify-content: space-around;
}
/* 横线 */
.superiorityLine {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #d2d2d2;
  position: relative;
  height: 1px;
  width: 95%;
}
/* 横线的点 */
.superiorityLine-after::after {
  content: "";
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #d2d2d2;
  position: absolute;
  right: 0px;
  top: -3px;
}
.superiorityLine-before::before {
  content: "";
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #d2d2d2;
  position: absolute;
  left: 0px;
  top: -3px;
}

/* 中间的图片 */
.topBottomCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topBottomCenterimg2{
  position: absolute;
  z-index: 1;
}
.topBottomCenterimg1{
  position: absolute;
  z-index: 2;
}

/* .topBottomCenterimg1{

} */
.topBottomCenterimg2{
  transform: rotateY(0deg);
} 

.topBottomCenterImg:hover .topBottomCenterimg2{
  animation: rotateChange2 1s linear both;
}
.topBottomCenterImg:hover .topBottomCenterimg1{
  animation: rotateChange 1s linear both;
}
 
@keyframes rotateChange{
  from {
    /* width: 100%; */
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
    z-index: 1;
  }
}
@keyframes rotateChange2{
  from {
    /* width: 100%; */
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
    z-index: 2;
  }
}


.superiorityCenteImgOuter {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  border: 1px dashed #b2b2b2;
}
.superiorityCenteImgOuter div {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  position: relative;
}
.superiorityCenteImgOuter div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0px;
}
/* 下margin */
.bottomMargin {
  margin-bottom: 80px;
}
/* 01 04 */
.oneFour {
  width: 285px;
}
/* 02 05 */
.twoFive {
  width: 290px;
}
/* 03 06 */
.threeSix {
  width: 250px;
}
.superiorityWidth {
  width: 33.33%;
}
.positionDiv {
  position: relative;
}
.superiorityOne {
  position: absolute;
  top: 55px;
  left: 75px;
}
.superiorityTwo {
  position: absolute;
  left: 0;
  top: 210px;
}
.superiorityThree {
  position: absolute;
  bottom: 25px;
  left: 64px;
}
.superiorityFour {
  position: absolute;
  top: 55px;
  right: 75px;
}
.superiorityFive {
  position: absolute;
  top: 210px;
  right: 0;
}
.superioritySix {
  position: absolute;
  bottom: 25px;
  right: 64px;
}

/* 01斜线 */
.slashLineOne {
  height: 1px;
  width: 11%;
  background-color: #d2d2d2;
  position: absolute;
  top: 68px;
  left: 95%;
  transform: skewY(45deg);
  /* animation:slashLineOneChange .3s .3s 1 both; */
}
.slashLineOneInner {
  width: 100%;
  height: 100%;
  background-color: white;
}
/* 01直线 */
.straightLineOne {
  position: absolute;
  /* width: 73px; */
  width: 26%;
  height: 1px;
  background-color: #d2d2d2;
  top: 83px;
  left: calc(95% + 30px);
  /* animation:straightLineOneChange .3s 1 both; */
}
.straightLineOneInner {
  width: 100%;
  height: 100%;
  background-color: white;
}
/* 左侧的中间直线 */
.superiorityLineLeft {
  height: 1px;
  background-color: #fff;
}
@keyframes superiorityChange {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
/* 02 */
.straightLineTwo {
  position: absolute;
  width: 35%;
  height: 1px;
  background-color: #d2d2d2;
  top: 52px;
  left: 95%;
}
.straightLineTwoInner {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* 03 */
/* 斜线 */
.slashLineThree {
  height: 1px;
  width: 11%;
  background-color: #d2d2d2;
  position: absolute;
  top: 35px;
  left: 95%;
  transform: skewY(-45deg);
}
.slashLineThreeInner {
  width: 100%;
  height: 100%;
  background-color: white;
}
/* 直线 */
.straightLineThree {
  position: absolute;
  width: 21%;
  height: 1px;
  background-color: #d2d2d2;
  top: 17px;
  right: -85px;
}
.straightLineThreeInner {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* 右边的动画 */
@keyframes straightLineFourChange {
  from {
    width: 0%;
  }
  to {
    width: 21%;
  }
}
/* 04 */
/* 直线 */
.straightLineFour {
  position: absolute;
  width: 21%;
  height: 1px;
  background-color: #d2d2d2;
  bottom: 35px;
  left: -91px;
}
@keyframes slashLineFourChange {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* 斜线 */
.slashLineFour {
  height: 1px;
  width: 11%;
  /* background-color: #d2d2d2; */
  position: absolute;
  top: 68px;
  left: -11%;
  transform: skewY(-45deg);
}
.slashLineFourInner {
  height: 100%;
  width: 100%;
  background-color: #d2d2d2;
}
/* 右边中间的直线 */
@keyframes superiorityLineRightChange {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}

/* 05 */
.straightLineFive {
  position: absolute;
  width: 35%;
  height: 1px;
  background-color: #d2d2d2;
  top: 52px;
  /* right: 100%; */
  left: -35%;
}
@keyframes straightLineFiveChange {
  from {
    width: 0%;
  }
  to {
    width: 35%;
  }
}
/* 06 直线*/
.straightLineSix {
  position: absolute;
  width: 16%;
  height: 1px;
  background-color: #d2d2d2;
  top: 17px;
  left: -85px;
}
@keyframes straightLineSixChange {
  from {
    width: 0%;
  }
  to {
    width: 16%;
  }
}
/* 斜线 */
.slashLineSix {
  height: 1px;
  width: 11%;
  /* background-color: #d2d2d2; */
  position: absolute;
  top: 35px;
  right: 100%;
  transform: skewY(45deg);
}
.slashLineSixInner {
  height: 100%;
  width: 100%;
  background-color: #d2d2d2;
}
.container1 {
  width: 80%;
  margin: 0 auto;
}
/* 生鲜推荐 */
#freshClassBlue {
  width: 100%;
  height: 87px;
  position: relative;
  background: url('../gm-images/index/首页-背景图.png');
  background-size: contain;
  background-color: rgb(30, 79, 223);
}
.btn-freshClassBlue {
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translateY(-50%);
}
.freshClassUl {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  list-style-type: none;
  width: 100%;
  height: 838px;
  background-color: #ffffff;
  border: solid 1px #efefef;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
}
.freshClassUl li {
  width: 43%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  height: 137px;
}
.freshClassImg {
  width: 184px;
  height: 121px;
  overflow: hidden;
  /* height: 20%; */
}
.freshClassImg img {
  display: block;
  width: 100%;
  height: 100%;
}
.freshClassRight {
  display: flex;
  flex-direction: column;
  width: 233px;
}
.freshClassRightTitle {
  font-family: PingFang-SC-Bold;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0px;
  color: #374567;
}
.freshClassRightFont {
  font-family: PingFang-SC-Medium;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #7a8ba6;
}
.freshClassRightDate {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}
.freshClassRightCon {
  height: 60px;
  display: -webkit-box;
  /* 文本行排列方向 */
  -webkit-box-orient: vertical;
  /* 设置几行之后出现溢出省略号 */
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.manyBtn {
  display: block;
  width: 323px;
  height: 52px;
  line-height: 52px;
  background-color: #4069f3;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 53px;
  margin-bottom: 33px;
  font-family: PingFang-SC-Medium;
  font-size: 29px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
}
.manyBtn:hover {
  background-color: #fff;
  color: #4069f3;
  border: 1px solid #4069f3;
}
