ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
/* #retail {
  background: #3860f4;
}
#retail .container{
  height: 500px;
  margin-top: 60px;
  background: url(../gm-images/retail/组\ 2@2x.png) no-repeat center top;
}
#retail .container .banner-btn{
  margin-top: 240px;
} */

#retail {
  height: 480px;
  background: #3860f4;
  margin-top: 60px;
}
#retail  h1{
  margin-top: 138px;
  font-size: 42px;
  font-family: PingFang;
  font-weight: 500;
  color: #FFFFFF;
}
#retail  .banner-text{
  margin-top: 26px;
  margin-bottom: 36px;
  font-size: 18px;
  font-family: PingFang;
  font-weight: 300;
  color: #bdceff;
  text-align: left;
  margin-left:0px;
  line-height: 18px;
}
#retail  .banner-text p {
 padding-left: 0;
}
#retail  .banner-btn{
  margin-top: 42px;
  color: #fff;
  border: solid 1px #fff;
  background-color: transparent;
}
#retail  .banner-btn:hover{
  border: solid 1px rgba(255, 255, 255, 0.3);
}

.platform-img{
  margin-top: 60px;
  width: 110%;
}

#whatIsRetail{
  margin-top: 96px;
}
#whatIsRetail img {
  display: block;
  margin: auto;
}



#doRetail{
  margin-top: 56px;
  background: #3860f4;
}
#doRetail .container img {
  display: block;
  margin: auto;
  width: 100%;
}


.do-retail-module-title{
  text-align: center;
}
.do-retail-module-title h1{
  font-size: 32px;
  font-family: PingFang;
  font-weight: bold;
  color: #3B426B;
  margin-top: 74px;
}


.do-retail-module-title div{
  font-size: 18px;
  font-family: Hiragino Sans GB;
  font-weight: normal;
  color: #93949D;
  line-height: 48px;
}


#retailDifficult .retail-difficult-item div{
  
  height: 247px;
  background: #FFFFFF;
  box-shadow: 0px 9px 32px 0px #E2E2E2;
  border-radius: 6px;
  margin-top: 24px;
  margin-bottom: 24px;
}

#retailDifficult .retail-difficult-item div:before{
  display: block;
  content: '.';
  visibility: hidden;
  height: 0;
}

#retailDifficult .retail-difficult-item div span{
  display: block;
  text-align: center;
  font-size: 24px;
  font-family: Hiragino Sans GB;
  font-weight: 400;
  color: #3B426B;
  line-height: 51px;
}
#retailDifficult .retail-difficult-item div span:first-child{
  height: 66px;
  margin-top: 68px;
}
#retailDifficult .retail-difficult-item div span:first-child img{
  max-height: 66px;
}
 


#retailPossibleTarger{
  background-color: #f4f8ff;
}
#retailPossibleTarger,#retailSolution{
  text-align: center;
}
#retailPossibleTarger img,#retailSolution img{
  /* max-width: 1920px; */
  width: 100%;
}
#retailSolution{
  background-color: #f7f9fa;
}

#retailSystem .retail-system-item{
  padding: 90px 0;
}

#retailSystem .retail-system-item:nth-child(2n){
  background: #F7FBFF;
}
#retailSystem .retail-system-item .container>div{
  width: 49.9%;
}
#retailSystem .retail-system-item .container>div.retail-system-item-l{
  float: left;
  clear: both;
}
.retail-system-item-r-img-10{
  display: block;
  width: 550px;
  margin: -10px 0px 0px 30px;
}
.retail-system-item-r-img-11{
  display: block;
  width: 550px;
  margin: 0px 0px 0px 0px;
}
#retailSystem .retail-system-item .container>div.retail-system-item-r{
  float: left;
}

#retailSystem .retail-system-item .container>div.retail-system-item-img{
  text-align: center;
}
#retailSystem .retail-system-item .container>div.retail-system-item-content h2{
  font-size: 26px;
  font-weight: bold;
  color: #3F404E;
  margin-top: 36px;
  margin-bottom: 40px;
}
.tank-text-left{
  margin-left: 106px;
  width: calc(50% - 105px) !important;
}
#retailSystem .retail-system-item .container>div.retail-system-item-content ul li {
  line-height: 20px;
  font-size: 15px;
  color: #3F404E;
  margin-bottom:40px;
}
#retailSystem .retail-system-item .container>div.retail-system-item-content>div{
  margin-top: 56px;
  display: flex;
}
#retailSystem .retail-system-item .container>div.retail-system-item-content>div div{
  height: 40px;
  width: 154px;
  line-height: 40px;
  padding: 0 40px;
  font-size: 18px;
  background-color: #FFFFFF;
  border: solid 1px  #105cfb;
  color: #105cfb;
  border-radius: 20px;
  margin-right: 20px;
  overflow: hidden;
}
#retailSystem .retail-system-item .container>div.retail-system-item-content>div div:hover{
  background-color: #105cfb;
  color: #fff;
}
